<app-header light="true">
  <slot-end>
    <ion-text color="primary" (click)="goToSignUp()"><strong>
        Siguiente
      </strong></ion-text>
  </slot-end>
</app-header>
<ion-content class="ion-padding-horizontal bg-light">
  <div class="ion-padding-horizontal">
    <h2 class="title">¿Qué deseas enviar?</h2>
  </div>
  <div class="signup-form ion-padding">
    <form action="">
      <ion-list lines=" none">
        <label class="default-label">DIRECCIÓN DE RECOGIDA</label>
        <ion-item class="default-input" (click)="openNewAddressModal()">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-input placeholder="¿Dónde lo recogemos?" readonly></ion-input>
        </ion-item>
        <ion-item class="default-input">
          <ion-input placeholder="Dpto, piso, lote, indicaciones..."></ion-input>
        </ion-item>
        <label class="default-label">DIRECCIÓN DE ENTREGA</label>
        <ion-item class="default-input">
          <ion-icon name="flag-outline" slot="start"></ion-icon>
          <ion-input placeholder="¿Dónde lo entregamos?"></ion-input>
        </ion-item>
        <ion-item class="default-input">
          <ion-input placeholder="Dpto, piso, lote, indicaciones..."></ion-input>
        </ion-item>
      </ion-list>
      <!-- <ion-row class="ion-justify-content-center">
        <ion-button shape="round" class="default-btn">
          Crear cuenta
        </ion-button>
      </ion-row> -->
    </form>
  </div>
</ion-content>