<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="products-container">
        <ion-toolbar id="search">
            <ion-searchbar placeholder="Buscar por producto, restaurante, etc..." search-icon="search-outline" animated debounce="800" inputmode="text" type="text" (ionChange)="getAutocompleteList($event)">
            </ion-searchbar>
        </ion-toolbar>
        <ion-row *ngIf="loading">
            <ion-col class="ion-justify-content-center ion-text-center">
                <ion-text>
                    <ion-spinner></ion-spinner>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-col *ngIf="shops.length">
            <div class="basic-title">
                <h3>Restaurantes</h3>
            </div>
        </ion-col>
        <!-- SHOPS LIST -->
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let shop of shops" (click)="openShop(shop)">
                <div class="shop">
                    <div class="shop--left">
                        <div class="shop-image">
                            <ion-img [src]="baseUrl + '/shops/' + shop.id + '/' + shop.logo || 'assets/images/product.jpg'"></ion-img>
                        </div>
                    </div>
                    <div class="shop--right">
                        <span>{{ shop.name }}</span>
                        <p>{{ shop.description }}</p>
                        <!-- <div class="price_add" *ngIf="shop.opened == true"> -->
                        <div class="price_add">
                            <ion-button size="small" mode="ios">Abierto</ion-button>
                        </div>
                        <div class="price_add" *ngIf="shop.opened == false">
                            <ion-button size="small" mode="ios">Cerrado</ion-button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-col *ngIf="products.length">
            <div class="basic-title">
                <h3>Productos</h3>
            </div>
        </ion-col>
        <!-- PRODUCTS LIST -->
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let product of products" (click)="openShop(product.shop)">
                <div class="product">
                    <div class="product--left">
                        <div class="product-image">
                            <!-- <ion-img [src]="baseUrl + product.image_url" *ngIf="product.image_url"></ion-img> -->
                            <ion-img [src]="baseUrl + '/shops/' + product.shop.id + '/' + product.image_url" *ngIf="product.image_url"></ion-img>
                            <ion-img [src]="'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'" *ngIf="!product.image_url"></ion-img>
                        </div>
                    </div>
                    <div class="product--right">
                        <span>{{ product.name }}</span>
                        <p>{{ product.description }}</p>
                        <div class="price_add">
                            <ion-text color="primary"><strong>S/ {{ product.price_with_percentage }}</strong></ion-text>
                            <ion-button size="small" mode="ios">Ver restaurante</ion-button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>