<app-header [showBack]="true" [bgPurple]="false"></app-header>
<div class="faq-header">
  <h5>PREGUNTAS FRECUENTES</h5>
</div>
<ion-content class="ion-padding faq">
  <h5>
    ¿Quiénes son los buheros?
  </h5>
  <p>
    Son los repartidores o colaboradores independientes que se conectan a través de nuestro aplicativo móvil. Son
    personas
    buscan hascer tu vida más simple y sencilla ayudándote en todas tus gestiones. Si quieres ser parte del Team de Búho
    como repartidor independiente, escríbenos un correo a team@buhoapp.com
  </p>
  <h5>
    ¿Cómo hago un pedido?
  </h5>
  <p>
    Realizar tus pedidos en Búho es sumamente simple y sencillo. Sigue los siguientes pasos:1º En la pantalla
    principal
    introduce la dirección de entrega. Recuerda seleccionar la ciudad correcta en el menú desplegable.Si tienes un
    código
    promocional, no olvides validarlo en tu perfil antes de realizar el pedido.Ahora, tienes tres opciones:1. Pide un
    búho en el servicio de transporte.
    2. Compra algo en un restaurante o tienda: elige uno de nuestros Comercios Afiliados en cualquiera de las
    categorías.3. Envía algo que necesites. Solo necesitas un punto de recogida y uno de destino, y nuestros buheros se
    ocuparán del resto.Sigue los pasos necesarios para cada opción y, cuando termines, un buhero aceptará tu pedido y
    lo
    entregará en unos minutos.
    ¿Cuánto cuesta el envío?
    - El precio de nuestro servicio se basa en la distancia. - Si utilizas la categoría "Recoger o Enviar" o "Lo que
    sea", la aplicación calcula la distancia entre el punto de recogida y la dirección de entrega, y solo muestra el
    total
    de los gastos de envío.- Si realizas un pedido en uno de los establecimientos disponibles en la aplicación, podrás
    ver el precio del artículo de antemano. Por consiguiente, sabrás el coste total del servicio antes de confirmar el
    pedido.A veces, el precio del producto puede diferir del que se muestra en la aplicación. Si la diferencia de
    precio
    es inferior al 30 %, Búho procederá automáticamente a comprar los productos. Podrás ver el precio actualizado una
    vez
    que el buhero cargue el recibo de la compra.Sin embargo, si la diferencia de precio es superior al 30 %, el buhero
    se
    pondrá en contacto contigo para preguntarte si todavía quieres continuar con la compra. (Para las entregas
    nocturnas,
    se puede aplicar un coste de servicio adicional al precio de cada artículo. El importe aplicado dependerá de la
    ciudad
    y el establecimiento, y verás este recargo cuando estés en la fase de pago en la aplicación.)
  </p>

  <h5>
    ¿Cómo puedo programar un pedido y cambiar los detalles de mi pedido programado?
  </h5>
  <p>
    ¡Programar pedidos nunca ha sido tan simple y sencillo! Puedes programar tu pedido y elegir cuándo quieres que se
    entregue para recibirlo cuando te venga mejor.Si deseas cambiar los detalles de tu pedido programado o simplemente
    deseas cancelarlo, deberás ir a tu pedido programado y hacer clic en "Cancelar pedido". No se te cobrará por la
    cancelación. Una vez hayas cancelado el pedido, realiza otro con los artículos necesarios y los detalles de entrega.

  </p>
  <h5>
    ¿Qué puedo pedir?
  </h5>
  <p>
    Utiliza Búho App para poder para comprar cualquier producto cercano o hacer tus envíos y recados exprés en la
    ciudad.
    ¿Vamos a la farmacia por ti? ¿Te compramos unos zapatos? ¿Te apetece algo de comer? ¿Enviamos un paquete?
    ¿Entregamos
    unas llaves? ¡Lo que tú quieras!Ya vamos nosotros.
  </p>
  <h5>
    Quiero devolver un producto, ¿cómo lo hago?
  </h5>
  <p>
    Nosotros nos encargamos de conectar tus pedidos con los buheros, que son quienes realizan la compra en tu nombre,
    por
    lo que tú sigues siendo el comprador y usuario final. Para cualquier devolución o reclamación relacionada con los
    productos, es preciso contactar directamente con el establecimiento.
  </p>
  <h5>
    ¿Cómo puedo encontrar lo que busco?
  </h5>
  <p>
    En la parte superior de la pantalla, hay un buscador que te permitirá encontrar cualquier producto o establecimiento
    de la app en tu ciudad.

  </p>

  <h5>
    ¿Cómo puedo cambiar mi número de teléfono?
  </h5>
  <p>
    Puedes cambiar tu número de teléfono de contacto en la información de tu perfil. Una vez actualizado, recibirás un
    código de verificación. Tras confirmar, se cambiara tu número de teléfono.
  </p>

  <h5>
    ¿Cómo puedo cambiar mi dirección de e-mail?
  </h5>
  <p>
    Puedes cambiar la dirección de e-mail asociada a tu cuenta en la información de tu perfil. Una vez actualizada,
    recibirás una alerta de verificación. Tras confirmar, se cambiara tu e-mail.

  </p>
  <h5>
    ¿Cómo puedo cambiar mi contraseña?
  </h5>
  <p>
    Puedes cambiar la contraseña asociada a tu cuenta en la información de tu perfil. Una vez actualizada, recibirás una
    notificación. Tras confirmar, se cambiara tu contraseña.
  </p>
  <h5>
    Métodos de pago e incidencias
    ¿Cuándo va a llegar mi pedido?
  </h5>
  <p>
    Siempre que tengas un buhero asignado podrás seguirlo en tiempo real y comunicarte con él para cualquier duda. Si no
    tienes un buhero asignado, tu pedido sigue en el sistema pendiente de asignación. En cualquier caso, si quisieras
    cancelar tu pedido y no hay un buhero asignado puedes hacerlo tú mismo desde el pedido en curso sin ningún coste.
    Faltan productos en el pedido o es erróneo
    Si te ha llegado un pedido incompleto o erróneo, ve a tu perfil en la aplicación y haz clic en "Ayuda". Nos
    pondremos en contacto contigo con una solución lo antes posible.
  </p>
  <h5>
    Quiero cancelar mi pedido, ¿se me cobrará por la cancelación?
  </h5>
  <p>
    Puedes cancelar los pedidos, pero se pueden aplicar cargos por cancelación.Pedidos relacionados con comida: se te
    cobrará un importe según los factores siguientes.(1) Si el establecimiento ya ha aceptado y ha comenzado a preparar
    el pedido, se te cobrará el precio de los productos.(2) Si ya se ha asignado un buhero al pedido, se te cobrará un
    cargo por cancelación.(3) Si el establecimiento ya ha aceptado y ha comenzado a preparar el pedido, y ya se ha
    asignado un buhero para entregarlo, se te cobrará el precio de los productos y un cargo por cancelación.(4) Si el
    buhero llega al punto de entrega y completa el pedido, se te cobrará el precio de los productos y los gastos de
    envío.
    Ten en cuenta que los pedidos relacionadas con comida no se pueden devolver.Pedidos no relacionados con comida:
    puedes cancelar un pedido de forma gratuita hasta que un buhero acepte tu solicitud. Sin embargo, si cancelas una
    vez
    que se haya asignado un buhero a tu pedido, se te cobrará el coste total del servicio básico de entrega. Si un
    buhero
    ya ha recogido el pedido o la está transportando en el momento de la cancelación, puedes preguntar al buhero si es
    posible devolver el producto. En este caso, tendrás que pagar el precio total de los productos y los gastos de
    envío,
    así como el coste del servicio de devolución. Si el buhero puede devolver el producto, se te devolverá el coste del
    producto. Para que quede claro: se te cobrará el coste total del servicio de entrega, incluyendo el coste del
    producto
    y los gastos de envío, y el servicio de devolución.
  </p>

  <h5>
    ¿Y si tengo que modificarlo?
  </h5>
  <p>
    Si quieres modificarlo solo tienes que ponerte en contacto con tu buhero. En cuanto aceptan tu pedido, ambos tenéis
    vuestros teléfonos para resolver cualquier duda que pueda surgir del modo más eficaz.
    El pedido que me han traído no es lo que quiero, ¿qué hago?
  </p>
  <h5>
    ¿Qué ha pasado? ¿Corresponde a la descripción que hiciste del producto?
  </h5>
  <p>
    Nos gustaría que nos lo comunicaras para evitar situaciones como esta en el futuro. Por otro lado, cualquier
    devolución o queja sobre el producto se realizará directamente en el comercio local por parte del consumidor, sin
    Búho
    como intermediario.
  </p>
  <h5>
    ¿Qué tipo de tarjetas aceptáis?
  </h5>
  <p>
    Aceptamos tarjetas Visa, MasterCard y American Express únicamente Interbank a través de la aplicación Tunki.
  </p>
  <h5>
    ¿Cuáles son los métodos de pago disponibles?
  </h5>
  <p>
    Búho acepta como métodos de pago, el efectivo y el pago electrónico por medio de los aplicativos Tunki, Yape y
    Lukita.
  </p>
  <h5>
    ¿Por qué se me ha pedido que verifique mi identidad?
  </h5>
  <p>
    Tenemos el firme propósito de garantizar que nuestra plataforma sea fiable y segura para ti y todos los miembros de
    Búho App. Por este motivo, nuestros agentes pueden pedirte alguna prueba de identidad si se detecta una acción
    inusual. Si esto sucede, deberás adjuntar los documentos que solicitamos para seguir utilizando tu cuenta de Búho
    App.La seguridad es crucial para nosotros, por lo que te pedimos que no compartas tu cuenta ni los detalles de
    pago
    con nadie que no sea un colaborador interno de Búho. También nos gustaría recordarte la importancia de tener
    contraseñas distintas para cada una de las plataformas que utilizas.
  </p>
  <br />
  <br />
  <br />

  <div class="ion-text-center">
    <small>Puedes leer todos los detalles aquí</small>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button shape="round" color="tertiary" onclick="window.open('//www.buhoapp.com', '_system'); return false;">
          www.buhoapp.com
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>