.faq {
    background: #f2f2f2;
    --background: #f2f2f2 !important;

    h5 {
        color: var(--ion-color-tertiary);
        font-size: 14px;
    }

    p {
        color: var(--ion-color-medium);
        font-size: 14px;
    }

    small {
        color: var(--ion-color-medium);
        font-size: 13px;
    }

    .island {
        border-radius: 3px;
        background: #fff;
        border: 1px solid #dedede;
        border-bottom: 0;
        padding-bottom: 0 !important;
    }
}

.faq-header {
    background: var(--ion-color-primary);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;

    h5 {
        margin: 0;
        font-size: 14px;
        text-align: center;
        color: #000964;
        font-weight: bold;
    }
}