.trans {
    --background: transparent;
}

ion-header {
    z-index: 100;

    .support {
        height: 50px;

        small {
            position: absolute;
            font-size: 6px;
            top: 38px;
            color: #fff;
        }

        ion-icon {
            color: #fff;
            font-size: 20px;
        }
    }

}