<ion-header class="ion-no-border bg-dark" mode="md">
  <ion-toolbar [color]="light ? 'light' : ''" [class]="trans ? 'trans' : ''">
    <ion-buttons slot="start">
      <ion-button (click)="backRouter()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="showAddress && !!address">
      <div class="header-address">
        <div class="address-container">
          <ion-icon name="location-outline"></ion-icon>
          <span>{{ address }}</span>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="support" (click)="modalSupport()">
        <ion-icon name="headset-outline"></ion-icon>
        <small>Soporte</small>
      </ion-button>
      <!-- <ng-content select="slot-end"></ng-content> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>