<app-header [showBack]="true" [bgPurple]="false"></app-header>
<ion-content>
  <div class="orders-header">
    MIS PEDIDOS
  </div>
  <ion-list lines="none" *ngIf="orders$ | async as orders; else noOrders">
    <ion-item *ngFor="let order of orders">
      <ion-card [class]="(order.state == 'delivered' || order.state == 'cancelled') ? 'order-past' : 'order'"
        button="true" (click)="goToOrder(order.id, order.state)">
        <ion-card-content>
          <div style="width: 100%;">
            <ion-label><strong>{{ order?.shop?.name }}</strong></ion-label>
            <small>{{ order.state | status }}</small><br />
            <small *ngIf="order?.estimated_delivery_datetime">
              Llegada estimada: {{ order?.estimated_delivery_datetime |
              datetime}}
            </small>
            <small *ngIf="order?.real_delivery_datetime">
              Entregado: {{ order?.real_delivery_datetime | datetime}}
            </small>
          </div>
          <div>
            <ion-button size="small" color="light" fill="clear">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
        <ion-progress-bar *ngIf="order?.state != 'cancelled'" [value]="order.progress" [buffer]="order.progress + 0.10">
        </ion-progress-bar>
      </ion-card>
    </ion-item>
  </ion-list>
  <ng-template #noOrders>
    <h4>No tienes ordenes por el momento</h4>
  </ng-template>
</ion-content>