.orders-header {
    background: var(--ion-color-tertiary) !important;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 17px 0 0 0;
    color: #fff;
    font-size: 14px;
}

.order {
    width: 100%;
    margin: 5px;
    background: var(--ion-color-tertiary);
    color: #fff;

    ion-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.order-past {
    width: 100%;
    margin: 5px;
    background: var(--ion-color-light);
    color: var(--ion-color-dark);

    ion-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

h4 {
    text-align: center;
    color: #9e9fa6;
}