.basic-title {
    padding: 20px 20px 10px 13px;
    h4 {
        margin: 0;
    }
}

.checkout-wrapper {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 2px #ddd;
    height: 100%;
    padding: 20px 15px 20px 10px;
    .checkout-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--ion-color-medium);
    }
    .resumen {
        padding: 15px;
    }
    .total {
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }
}

.cart-cta {
    background: transparent !important;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 56px;
    padding: 0 10px;
    background: #fff;
    ion-button {
        width: 100%;
        font-size: 24px;
    }
}