<app-header trans="true"></app-header>

<ion-content>
    <div class="basic-title">
        <h4>Confirmación de la orden</h4>
    </div>
    <div class="checkout-wrapper">
        <ion-list>
            <ion-item>
                <div class="checkout-item">
                    <div>
                        <ion-text>Dirección</ion-text>
                    </div>
                    <div>
                        <ion-text>{{ address?.address.split(',')[0] }}</ion-text>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="checkout-item">
                    <div>
                        <ion-text>Entrega estimada</ion-text>
                    </div>
                    <div>
                        <ion-text>{{ eta }} min</ion-text>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="checkout-item">
                    <div (click)="cardDataFill()">
                        <ion-text>Método de pago</ion-text>
                    </div>
                    <div (click)="cardDataFill() ">
                        <ion-text color="secondary ">Tarjeta</ion-text>
                        <!-- <img src="/assets/images/visa.png "> -->
                    </div>
                </div>
            </ion-item>
            <!-- <ion-item>
        <div class="checkout-item ">
          <div>
            <ion-text>Cupones</ion-text>
          </div>
          <div>
            <ion-text>Agregar <ion-icon name="arrow-right-outline "></ion-icon>
            </ion-text>
          </div>
        </div>
      </ion-item> -->
        </ion-list>
        <div class="resumen ">
            <div class="checkout-item ">
                <div>
                    <ion-text>Costo de productos</ion-text>
                </div>
                <div>
                    <ion-text>S/ {{ totalProducts.toFixed(2) }}</ion-text>
                </div>
            </div>
            <div class="checkout-item ">
                <div>
                    <ion-text>Costo de envío</ion-text>
                </div>
                <div>
                    <ion-text>S/ {{ deliveryFee.toFixed(2) }}</ion-text>
                </div>
            </div>
            <!-- <div class="checkout-item ">
         <div>
           <ion-text>IGV 18%</ion-text>
         </div>
         <div>
           <ion-text>S/4.50</ion-text>
         </div>
       </div> -->
        </div>
        <div class="total ">
            <div class="checkout-item ">
                <div>
                    <ion-text>Total a pagar</ion-text>
                </div>
                <div>
                    <ion-text>S/ {{ total.toFixed(2) }}</ion-text>
                </div>
            </div>
        </div>
        <br>
        <ion-row class="ion-justify-content-center ">
            <ion-col size="6 ">
                <ion-img src="assets/images/logo-black.png " class="logo "></ion-img>
            </ion-col>
        </ion-row>
    </div>

    <div class="cart-cta ">
        <ion-button mode="ios " expand="block " (click)="checkout() " [disabled]="checkoutButtonDisabled ">
            {{textoBoton}}
        </ion-button>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>