<app-header trans="true" [showAddress]="false"></app-header>
<ion-content [fullscreen]="false">
    <div>

        <div>
            <ion-text color="primary">
                <h2 text-center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nuevos</h2>
            </ion-text>
        </div>
        <br>
        <ion-list lines="none" *ngIf="orders$ | async as orders; else noOrders">
            <div *ngFor="let order of orders; let i=index">


                <span><b>&nbsp;&nbsp;&nbsp;&nbsp;Monto: S/{{order.product_cost | number:'1.2-2'}}</b></span>
                <br>

                <ion-card>

                    <ion-card-content>

                        <ion-grid>
                            <ion-row>
                                <ion-col size="9">
                                    <p>Orden nro.&nbsp;{{ order?.id }}</p>
                                    <p>Entrega en: {{ order?.address.address.split(',')[0] }}</p>
                                    <div (click)="viewDetails(i)">
                                        <ion-text color="primary">
                                            <b><u>Ver Detalle</u></b>
                                        </ion-text>
                                    </div>
                                </ion-col>

                                <ion-col text-center size="3">

                                    <div (click)="goToTakeOrder(order)">
                                        <ion-button mode="ios" color="primary">TOMAR <br> ORDEN</ion-button>
                                    </div>

                                </ion-col>

                            </ion-row>

                        </ion-grid>

                        <div *ngIf="verDetalle[i]==true">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1">
                                    </ion-col>
                                    <ion-col size="11">
                                        <p>Cliente: {{order.name}}&nbsp;{{order.last_name}}</p>
                                        <p>Teléfono: {{order.phone}}</p>
                                        <br>
                                        <p>Envío: S/{{order.cost_shipping | number:'1.2-2' }}</p>
                                        <p>Total: S/{{order.amount | number:'1.2-2' }}</p>
                                        <br>
                                        <p>Productos</p>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                    Cant.
                                                </ion-col>
                                                <ion-col size="9">
                                                    Nombre
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngFor="let product of order.product_list">

                                                <ion-col size="3">
                                                    {{product.quantity}}
                                                </ion-col>

                                                <ion-col size="9">
                                                    {{product.name}}
                                                </ion-col>

                                            </ion-row>

                                        </ion-grid>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>


                        </div>



                    </ion-card-content>
                </ion-card>

            </div>

        </ion-list>

        <ng-template #noOrders>
            <div class="no-orders">
                <h5>No tienes pedidos por el momento</h5>
            </div>
        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=3></app-footer>