<app-header trans="true" [showAddress]="false"></app-header>
<ion-content [fullscreen]="true">
    <div>
        <br>
        <div>
            <ion-text color="primary">
                <h2 text-center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomados</h2>
            </ion-text>
        </div>
        <ion-list lines="none" *ngIf="orders$ | async as orders; else noOrders">
            <div *ngFor="let order of orders; let i=index">

                <ion-card>
                    <!-- <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-8>
                                    <span>Ganancia total:</span>
                                </ion-col>

                                <ion-col col-4>
                                    <span>S/{{order.cost_shipping - order.commission | number:'1.2-2'}}</span>
                                </ion-col>

                            </ion-row>

                        </ion-grid>

                    </ion-card-header> -->

                    <ion-card-content>

                        <ion-grid>
                            <ion-row>
                                <ion-col size="8">
                                    <p>Orden nro.&nbsp; {{ order?.id }}
                                        <br>Fecha: {{ order?.date }} &nbsp; {{ order?.time }} </p>
                                    <h1>{{ order?.shop?.name }}</h1>
                                    <p>Recibe: {{ order?.shop.address }}</p>
                                    <p>Entrega: {{ order?.address.address }}</p>
                                    <p *ngIf="i==0">Estado: {{ estado }}</p>
                                    <p *ngIf="i!==0">Estado: {{ order?.state }}</p>
                                    <br>
                                    <div *ngIf="i==0 && estado=='TOMADO'">
                                        <ion-button shape="block" (click)="onWayOrder(order)">
                                            Recoger orden
                                        </ion-button>
                                    </div>
                                    <div *ngIf="i==0 && estado=='EN CAMINO'">
                                        <ion-button shape="block" color="tertiary" (click)="deliverOrder(order)">
                                            Entregar orden
                                        </ion-button>
                                    </div>

                                    <div (click)="viewDetails(i)">
                                        <ion-text color="primary">
                                            <b><u>Ver Detalle</u></b>
                                        </ion-text>
                                    </div>

                                </ion-col>

                                <ion-col text-center size="4">

                                    <ion-img style="border-radius: 15px;" [src]="baseUrl + '/shops/' + order?.shop?.id + '/' + order?.shop?.logo || 'assets/images/product.jpg'">
                                    </ion-img>
                                    <!-- <div (click)="goToOrder(order.id)">
                                        <ion-button mode="ios" color="primary">VER <br> DETALLE</ion-button>
                                    </div> -->

                                </ion-col>

                            </ion-row>

                        </ion-grid>

                        <div *ngIf="verDetalle[i]==true">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1">
                                    </ion-col>
                                    <ion-col size="11">
                                        <p>Cliente: {{order.name}}&nbsp;{{order.last_name}}</p>
                                        <p>Teléfono: {{order.phone}}</p>
                                        <br>
                                        <p>Total: S/{{order.amount | number:'1.2-2' }}</p>
                                        <p>Ganancia: S/{{order.ganancia | number:'1.2-2' }}</p>
                                        <br>
                                        <p>Productos</p>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                    Cant.
                                                </ion-col>
                                                <ion-col size="9">
                                                    Nombre
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngFor="let product of order.product_list">

                                                <ion-col size="3">
                                                    {{product.quantity}}
                                                </ion-col>

                                                <ion-col size="9">
                                                    {{product.name}}
                                                </ion-col>

                                            </ion-row>

                                        </ion-grid>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>


                        </div>

                    </ion-card-content>
                </ion-card>

            </div>

        </ion-list>

        <ng-template #noOrders>
            <div class="no-orders">
                <h5>No tienes pedidos por el momento</h5>
            </div>
        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=2></app-footer>