<app-header [showBack]="true" [bgPurple]="false"></app-header>
<div class="config-header">
  <h5>CONFIGURACIÓN</h5>
</div>
<ion-content class="ion-padding config">
  <form #form="ngForm">
    <ion-list class="island">
      <ion-item>
        <ion-label position="stacked">NOMBRE</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">APELLIDOS</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TELÉFONO</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CUMPLEAÑOS</ion-label>
        <ion-input> </ion-input>
      </ion-item>
    </ion-list>

    <br />
    <br />
    <small>CONFIGURACIÓN DE LA CUENTA</small>
    <ion-list class="island">
      <ion-item>
        <ion-label position="stacked">CORREO</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CONTRASEÑA</ion-label>
        <ion-input> </ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="4">
        <ion-button shape="round" color="tertiary">
          GUARDAR
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
