.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 20px;
}

.no-weeks {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        text-align: center;
        color: #9e9fa6;
    }
}