<app-header trans="true" [showAddress]="false"></app-header>
<ion-content [fullscreen]="false">
    <div>

        <div>
            <ion-text color="primary">
                <h2 text-center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ingresos</h2>
            </ion-text>
        </div>
        <br>


        <ion-card class="card" *ngIf="weeks$ | async as weeks;">

            <ion-card-content>

                <ion-grid class="ion-text-center">
                    <h1>
                        <ion-text color="primary">
                            <b>S/{{weeks[0].commission | number:'1.2-2'}}</b>
                        </ion-text>
                        <h3>Semana actual</h3>
                    </h1>

                </ion-grid>

            </ion-card-content>

        </ion-card>

        <ion-row>
            <ion-col></ion-col>
            <ion-col size="10">
                <ion-list *ngIf="weeks$ | async as weeks; else noWeeks" style="width:100%">
                    <ion-item *ngFor="let week of weeks; let i=index">
                        <ion-label>
                            <span *ngIf="i == 0">Semana actual</span>
                            <span *ngIf="i !== 0">{{ week.intervalo }}</span>

                        </ion-label>
                        <span item-end slot="end">S/{{week.commission | number:'1.2-2'}}</span>
                    </ion-item>
                </ion-list>

                <ng-template #noWeeks>
                    <div class="no-weeks">
                        <h5>No has tomado ninguna orden por el momento</h5>
                    </div>
                </ng-template>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </div>
</ion-content>
<app-footer [modalidad]="2"></app-footer>