.avatar {
    width: 60px;
    height: 60px;

    ion-img {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
}

.scroll {
    height: 100%;
}

.header {
    --background: transparent;

    .address-container {
        border-radius: 20px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;

        ion-icon {
            color: var(--ion-color-dark);
            font-size: 14px !important;
            margin-right: 5px;
        }

        ion-text {
            font-size: 14px;
            line-height: 11px;
        }
    }

    .header-address {
        padding: 0 35px;
        text-align: center;


    }

    ion-button {
        height: 50px;
    }

    small {
        position: absolute;
        font-size: 8px;
        top: 43px;
        color: #fff;
    }

    ion-icon {
        color: #fff;
        font-size: 32px;
    }
}

ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/assets/images/back-1.png') repeat;
}

.home-top {
    background: transparent;
}

.user-control {
    overflow: auto;

    &--right {
        height: 60px;
        padding: 10px 0;
        font-weight: 600;

        span {
            color: var(--ion-color-primary);
        }

        .address {
            font-size: 11px;
        }
    }
}

.welcome {
    width: 100%;
    color: var(--ion-color-light);

    h1 {
        text-align: center;
        font-weight: bold;
    }
}

.categories {
    margin-bottom: 56px;

    ion-img.logo {
        width: 100%;
    }
}

.category {
    padding: 3px;
    font-size: 11px;
    text-align: center;

    ion-img {
        margin-bottom: 5px;
    }
}