<ion-content [fullscreen]="true" class="bg-gradient">
    <ion-toolbar class="header">
        <ion-buttons slot="start" (click)="goToUser()">
            <ion-button>
                <ion-icon name="person-circle-outline"></ion-icon>
                <small>Mi perfil</small>
            </ion-button>
        </ion-buttons>
        <div class="header-address" (click)="openNewAddressModal()" *ngIf="!!address && (modalidad == 1 || modalidad=='')">
            <div class="address-container">
                <ion-icon name="location-outline"></ion-icon>
                <ion-text>{{ address }}</ion-text>
            </div>
        </div>
        <ion-buttons slot="end">
            <ion-button (click)="modalSupport()">
                <ion-icon name="headset-outline"></ion-icon>
                <small>Soporte</small>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="home-top">
        <div class="welcome ion-padding">

            <br><br>
            <h1>¡Bienvenido, {{nombre}}!</h1>
            <div class="ion-padding" *ngIf="modalidad == 1 || modalidad==''">
                <h1>¿Qué te gustaría que te llevemos hoy?</h1>
                <ion-item class="default-input" (click)="goToSearch()">
                    <ion-icon name="search" slot="start"></ion-icon>
                    <ion-input class=" bg-white" placeholder="Buscar..." color="dark"></ion-input>
                </ion-item>
            </div>
            <div class="ion-padding" *ngIf="modalidad == 2">
                <!-- <h1>¡Bienvenido a Hamuy!</h1> -->
                <br><br><br><br>
                <p>Tu perfil es "Motorizado". Aquí podrás ver las órdenes disponibles y tomar una de ellas.</p>
                <br><br>
                <h3 class="ion-text-center">Ingresos totales: S/{{ingresosTotales}}</h3>
            </div>
            <div class="ion-padding" *ngIf="modalidad == 3">
                <!-- <h1>¡Bienvenido a Hamuy!</h1> -->
                <br><br><br><br>
                <p>Tu perfil es "Restaurante". Aquí podrás ver las órdenes que te han hecho y prepararlas para que el motorizado las retire.</p>
            </div>

        </div>
    </div>

    <div class="categories bg-white ion-padding" *ngIf="modalidad == 1 || modalidad==''">
        <ion-row>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="category" (click)="goToSubcategories(1, 'Restaurantes')">
                    <ion-img src="assets/images/courier-icon.png"></ion-img>
                    <ion-text>Restaurantes</ion-text>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
                <ion-img src="assets/images/logo-black.png" class="logo"></ion-img>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
<app-footer [modalidad]="modalidad" [cartLength]="cartLength"></app-footer>