<div class="cart-item">
  <div class="cart-item--left">
    <img [src]="baseUrl + item.product.image_url ||
      'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'" />
  </div>
  <div class="cart-item--right">
    <div class="cart-item--right--title">
      <strong>{{ item.product.name }}</strong>
      <!-- <span>Nombre de tienda</span> -->
      <span>{{ item.product.description }}</span>
    </div>
    <div class="cart-item--right--add">
      <div>
        <span>S/{{ item.product.price_with_percentage }}</span>
      </div>
      <div>
        <button>
          <span (click)="minus()">-</span>&nbsp;&nbsp;&nbsp;{{
            item.quantity
          }}&nbsp;&nbsp;&nbsp;<span (click)="plus()">+</span>
        </button>
      </div>
    </div>
  </div>
</div>