.cart-item {
    display: flex;

    &--left {
        height: 115px;
        min-width: 115px;
        width: 115px;
        padding: 5px;

        img {
            max-width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &--right {
        padding: 5px;
        width: 100%;

        &--title {
            height: 70px;

            strong {
                font-size: 14px;
                color: #2b2577;
            }

            span {
                font-size: 10px;
                color: var(--ion-color-medium);
                width: 100%;
                display: block;
            }
        }

        &--add {
            height: 40px;
            display: flex;

            div {
                width: 50%;
            }

            span {
                color: var(--ion-color-dark);
                font-size: 13px;

            }

            button {
                width: 60px;
                padding: 4px 7px;
                background: var(--ion-color-primary);
                color: #2b2577;
                border-radius: 4px;
                font-size: 12px;
                font-weight: bold;
                float: right;
            }
        }


    }

}