.rate {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--ion-color-primary) !important;

    .driver {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .rating {

        textarea {
            width: 240px;
            height: 100px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 12px;
            padding: 5px;
        }
    }
}