<app-header [showBack]="true" [bgPurple]="false" [showGift]="false" [showMenu]="false"></app-header>

<ion-content>
  <div class="rate ion-padding">
    <div class="ion-text-center">
      <ion-text color="tertiary">
        <strong>VALORA TU EXPERIENCIA</strong>
      </ion-text>
      <br />
      <br />
      <div class="driver">
        <div>
          <img [src]="driver?.user.avatar ||'/assets/imgs/user.png'" />
        </div>
        <ion-text color="tertiary">
          <strong>{{ driver?.user.name }} {{ driver?.user.last_name }}</strong>
        </ion-text>
        <br />
        <ion-text color="tertiary"><small>Búho</small></ion-text>
      </div>
      <div class="rating">
        <div class="stars">
          <ion-icon [name]="stars.s1" size="large" color="medium" (click)="rate(1)"></ion-icon>
          <ion-icon [name]="stars.s2" size="large" color="medium" (click)="rate(2)"></ion-icon>
          <ion-icon [name]="stars.s3" size="large" color="medium" (click)="rate(3)"></ion-icon>
          <ion-icon [name]="stars.s4" size="large" color="medium" (click)="rate(4)"></ion-icon>
          <ion-icon [name]="stars.s5" size="large" color="medium" (click)="rate(5)"></ion-icon>
        </div>
        <ion-label for="" color="medium">
          <small>Agrega un comentario: (opcional)</small>
        </ion-label>
        <textarea rows="3" placeholder="Ejemplo: Excelente servicio muy atento. " [(ngModel)]="comment"></textarea>
      </div>
      <ion-button color="tertiary" expand="round" (click)="dismiss()">
        <ion-text color="primary">CONFIRMAR</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>