<ion-content class="ion-padding" *ngIf="type === 1">
    <div class="modal">
        <div class="ion-text-center">
            <img src="/assets/imgs/logo_big.png" />
            <ion-button color="primary" expand="round" (click)="dismiss()">
                <ion-text color="tertiary">CONFIRMADO</ion-text>
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-content class="bg-auth" *ngIf="type === 2">
    <div class="thanks">
        <div class="thanks--container">
            <ion-icon name="checkmark-circle"></ion-icon>
            <!-- <h1>
                ¡GRACIAS POR TU ORDEN!
            </h1> -->
            <p>
                Estimado cliente: estamos buscando a un motorizado para llevar su pedido. En un momento le confirmaremos en su bandeja pedidos.
                <!-- Tu orden estará siendo procesada, te enviaremos una notificación cuando el restaurante acepte la orden. -->
            </p>
            <br />
            <ion-button expand="block" shape="round" class="ion-text-capitalize" (click)="goToOrder()">
                <strong>Continuar</strong>
            </ion-button>
        </div>
    </div>
</ion-content>