<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="products-container">
        <ion-toolbar id="search">
            <ion-searchbar placeholder="Productos..." search-icon="search-outline" animated (ionChange)="filterItems($event)">
            </ion-searchbar>
        </ion-toolbar>
        <div class="basic-title">
            <h3>{{ shopName }}</h3>

            <div (click)="addFavourite()">
                <ion-icon name="heart-outline" color="primary" *ngIf="!isFavourite"></ion-icon>
                <ion-icon name="heart" color="primary" *ngIf="isFavourite"></ion-icon>
            </div>
        </div>
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let product of filteredProducts">
                <div class="product" (click)="addProductToCart(product)">
                    <div class="product--left">
                        <div class="product-image">
                            <ion-img [src]="baseUrl + '/shops/' + shopId + '/' + product.image_url"></ion-img>
                            <!-- <ion-img [src]="product.image_url" *ngIf="product.image_url"></ion-img> -->
                            <ion-img [src]="'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'" *ngIf="!product.image_url"></ion-img>
                        </div>
                    </div>
                    <div class="product--right">
                        <span>{{ product.name }}</span>
                        <p>{{ product.description }}</p>
                        <div class="price_add">
                            <ion-text color="primary"><strong>S/ {{ product.price_with_percentage }}</strong></ion-text>
                            <ion-button size="small" mode="ios">Agregar</ion-button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <div class="cart-cta">
        <ion-button mode="ios" color="primary" expand="block" (click)="openCart()">
            <ion-badge color="light">{{ cartLength$ | async }}</ion-badge>&nbsp; VER CARRITO
        </ion-button>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>