<div class="shop-item" (click)="openShop(shop)">
    <div class="shop-item--left">
        <img [src]="shop.logo" />
    </div>
    <div class="shop-item--mid">
        <strong>{{ shop.name }}</strong>
        <!-- <span>{{ shop.description }}</span> -->
        <div class="stars">
            <ion-icon name="star" color="tertiary" *ngFor="let item of arrayOne(shop.qualification)"></ion-icon>
        </div>
        <span>De {{ shop.opens }} a {{ shop.closes }}</span>
        <small>Orden mínima S/{{ shop.minimum_order }}</small>
    </div>
    <div class="shop-item--right">
        <div class="badge" *ngIf="shop.state == 'active'">
            ABIERTO
        </div>
        <div class="badge" *ngIf="shop.state != 'active'">
            CERRADO
        </div>
    </div>
</div>