.shop-item {
    height: 110px;
    display: flex;
    margin-bottom: 10px;

    &--left {
        display: flex;
        height: 100px;
        width: 100px;
        min-width: 100px;
        padding: 10px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 80px;
        }
    }

    &--mid {
        padding: 15px 5px 10px 5px;
        width: 100%;
        height: 100px;

        strong {
            max-height: 42px;
            font-size: 12px;
            color: #2b2577;
            display: block;
        }

        .stars {
            ion-icon {
                font-size: 10px;
            }
        }

        span {
            font-size: 10px;
            color: var(--ion-color-medium);
            width: 100%;
            display: block;
        }

        small {
            font-size: 10px;
            display: block;
            color: var(--ion-color-tertiary);
        }
    }

    &--right {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;

        .badge {
            background: var(--ion-color-primary);
            border-radius: 4px;
            font-size: 10px;
            color: #2b2577;
            padding: 5px 10px;
            font-weight: 600;
        }
    }
}