<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="shops-container">
        <ion-toolbar id="search">
            <ion-searchbar placeholder="Restaurantes..." search-icon="search-outline" animated (ionChange)="filterItems($event)">
            </ion-searchbar>
        </ion-toolbar>
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let shop of filteredShops">
                <div class="shop" (click)="openShop(shop)">
                    <div class="shop--left">
                        <div class="shop-image">
                            <ion-img [src]="baseUrl + '/shops/' + shop.id + '/' + shop.logo || 'assets/images/product.jpg'"></ion-img>
                        </div>
                    </div>
                    <div class="shop--right">
                        <span>{{ shop.name }}</span>
                        <p>{{ shop.description }}</p>
                        <!-- <div class="price_add" *ngIf="shop.opened == true"> -->
                        <div class="price_add">
                            <ion-button size="small" mode="ios">Abierto</ion-button>
                        </div>
                        <div class="price_add" *ngIf="shop.opened == false">
                            <ion-button size="small" mode="ios">Cerrado</ion-button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>