<app-header trans="true"></app-header>

<ion-content [fullscreen]="true" class="dark-bg">


    <div class="mp-form">
        <div class="basic-title">
            <h3>Mercado Pago</h3>
        </div>

        <ion-grid>
            <ion-row>
                <!-- <ion-col></ion-col> -->
                <!-- <ion-col col-12 col-lg-8 col-xl-6> -->
                <ion-col>


                    <div text-center>
                        <!-- <h1 class="titulo" Mercado Pago></h1> -->
                        <form action="" method="post" id="pay" name="pay">
                            <ion-item>
                                <ion-label position="floating" color="secondary">Número de tarjeta</ion-label>
                                <ion-input required type="number" minlength="5" maxlength="16" id="cardNumber" data-checkout="cardNumber"> </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" color="secondary">Código de seguridad</ion-label>
                                <ion-input required type="number" maxlength="4" id="securityCode" data-checkout="securityCode"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" color="secondary">Mes de expiración</ion-label>
                                <ion-input required type="tel" id="cardExpirationMonth" maxlength="2" data-checkout="cardExpirationMonth">
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" color="secondary">Año de expiración</ion-label>
                                <ion-input required type="tel" id="cardExpirationYear" maxlength="2" data-checkout="cardExpirationYear">
                                </ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" color="secondary">Titular</ion-label>
                                <ion-input required type="text" id="cardholderName" data-checkout="cardholderName"></ion-input>
                            </ion-item>

                            <ion-item position="floating">
                                <label for="docType">Tipo de documento:</label>
                                <select id="docType" data-checkout="docType" class="gris"></select>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" color="secondary">Número de documento</ion-label>
                                <ion-input required type="tel" id="docNumber" data-checkout="docNumber"></ion-input>
                            </ion-item>
                            <br>
                            <!-- <button ion-button [disabled]="deshabilitarBoton" type="submit" value="Pay" (click)="deshabilitar()">PAGAR</button> -->
                        </form>

                    </div>
                </ion-col>
                <!-- <ion-col></ion-col> -->
            </ion-row>
        </ion-grid>
    </div>

    <div class="cart-cta">
        <ion-button [disabled]="deshabilitarBoton" mode="ios" color="primary" expand="block" (click)="checkCard()">
            <ion-icon name="checkmark"></ion-icon>
            VALIDAR
        </ion-button>
    </div>
</ion-content>

<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>