ion-content.dark-bg {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/back-1.png') repeat;
}

.basic-title {
    color: #fff;
    padding: 20px 20px 10px 13px;
    h4 {
        margin: 0;
    }
}

.products-container {
    background: #fff;
    min-height: 100%;
    ion-searchbar {
        --border-radius: 10px;
    }
}

.mp-form {
    border-radius: 15px;
    background: transparent;
    ion-item {
        --background: transparent;
        --padding-start: 0px;
        --border-color: #fff;
        color: #fff;
    }
    ion-label {
        color: #f2f2f2;
    }
}

.cart-cta {
    background: transparent !important;
    display: flex;
    //position: fixed;
    width: 100%;
    bottom: 56px;
    padding: 0 10px;
    background: #fff;
    ion-button {
        width: 100%;
        font-size: 24px;
    }
}

.gris {
    background-color: rgba(219, 240, 31, 0.6);
}