<app-header></app-header>
<ion-content class="ion-padding">
    <div class="ion-padding-horizontal">
        <ion-text color="dark">
            <h2>Número Celular <br><small>Por tu seguridad te enviaremos un SMS para verificar tu número.</small></h2>
        </ion-text>
    </div>
    <div class="ion-padding">
        <form [formGroup]="phoneForm" (ngSubmit)="sendSMS()" novalidate>
            <ion-list>
                <ion-item>
                    <ion-label>+51</ion-label><ion-input formControlName="phone" type="tel" maxlength="10"></ion-input>
                </ion-item>
            </ion-list>
            <ion-row class="ion-justify-content-center">
                <ion-button type="submit" shape="round" class="default-btn" [disabled]="botonDisabled">
                    Enviar SMS
                </ion-button>
            </ion-row>
        </form>
    </div>
</ion-content>