ion-content {
    --background: transparent;
    text-align: center;
    max-width: 300px;
    // max-height: 255px;
    border-radius: 6px;
    font-size: 15px;
    // box-shadow: 0px 5px 8px #222;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-img {
    width: 100px;
}

.inside-wrapper {
    position: relative;
    // height: 100%;
    background: #fff;
    border-radius: 20px;
    padding-bottom: 20px;
}

.button-wrapper {
    font-size: medium;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center .fixed-content,
.vertical-center .scroll-content {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 8px #222;
    --background: transparent;
}