<ion-content padding class="vertical-center">
    <div class="ion-padding ion-padding-top inside-wrapper">
        <h1>
            <ion-text color="primary">Te atendemos 24x7</ion-text>
        </h1>
        <p>
            Contáctanos en cualquier momento y resolveremos tus consultas
        </p>
        <div class="button-wrapper">
            <p>
                <ion-button (click)="goToWhatsApp()" shape="round" mode="ios" color="success">
                    Ir a WhatsApp
                </ion-button>
            </p>
        </div>
        <div class="button-wrapper">
            <ion-button (click)="goBack()" shape="round" mode="ios" color="danger">
                Volver
            </ion-button>
        </div>
    </div>
</ion-content>