<app-header trans="true" [showAddress]="false"></app-header>
<ion-content padding [fullscreen]="true">

    <div>
        <br>
        <div>
            <ion-text color="dark">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;Ganancia total: S/{{order.cost_shipping - order.commission | number:'1.2-2'}}</h2>
            </ion-text>
            <br><br>
        </div>

        <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="2"></ion-col>
                <ion-col size="5">
                    <ion-text color="dark">
                        <h3>&nbsp;&nbsp;Tiempo y<br>&nbsp;&nbsp;distancia
                            <br>{{order.estimated_delivery | number:'1.0-0'}} min / 2 km
                        </h3>
                    </ion-text>
                </ion-col>

                <ion-col size="3">

                    <div>
                        <ion-button mode="ios" color="primary">Ver Mapa</ion-button>
                    </div>

                </ion-col>
                <ion-col size="2"></ion-col>

            </ion-row>


        </ion-grid>

        <ion-card>
            <ion-card-content>
                <!-- <div class="product--right"> -->

                <!-- <span>{{ order?.shop?.name }}</span> -->
                <p>
                    <b>Recibe en:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ order.shop_address }}
                    <br><br><b>Entrega en:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ order.delivery_address }}

                </p>
            </ion-card-content>

        </ion-card>

        <div (click)="takeOrder(order)">
            <ion-button expand="block" mode="ios">TOMAR ORDEN</ion-button>
        </div>




    </div>
</ion-content>
<app-footer></app-footer>