.profile {

    .basic-title {
        padding-left: 0;
        padding-bottom: 10px;
    }

    small {
        color: var(--ion-color-medium);
        font-size: 10px;
    }

    .island {
        background: #fff;
        border-bottom: 0;
        padding-bottom: 0 !important;
    }
}

.profile-header {
    background: var(--ion-color-primary);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;

    h5 {
        margin: 0;
        font-size: 14px;
        text-align: center;
        color: #000964;
        font-weight: bold;
    }
}