<app-header trans="true"></app-header>
<ion-content class="ion-padding profile">
    <div class="basic-title">
        <h3>Editar perfil</h3>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-list class="island">
            <ion-item>
                <ion-label position="stacked">NOMBRE</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">APELLIDOS</ion-label>
                <ion-input formControlName="last_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">TELÉFONO</ion-label>
                <ion-input formControlName="phone" type="tel" maxlength="9"></ion-input>
            </ion-item>
            <!-- <ion-item>
         <ion-label position="stacked">CUMPLEAÑOS</ion-label>
         <ion-datetime displayFormat="DD/MM/YYYY" formControlName="birthdate"></ion-datetime>
       </ion-item> -->
        </ion-list>
        <br />
        <ion-list class="island">
            <ion-item>
                <ion-label position="stacked">NUEVA CONTRASEÑA</ion-label>
                <ion-input type="password" formControlName="password"> </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">CONFIRMAR CONTRASEÑA</ion-label>
                <ion-input type="password" formControlName="confirmPassword"> </ion-input>
            </ion-item>
        </ion-list>
    </form>

    <ion-grid>
        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="4">
                <ion-button shape="round" color="success" [disabled]="profileForm.invalid" (click)="onSubmit()">
                    GUARDAR
                </ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-img src="assets/images/logo-black.png" class="logo"></ion-img>
        </ion-col>
    </ion-row>
</ion-content>
<app-footer [modalidad]="modalidad" [cartLength]="cartLength"></app-footer>