.logo {
    margin-top: 120px;
    max-width: 200px;
}

.scroll {
    height: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}

#container {
    text-align: center;
    width: 80%;

    ion-button {
        font-weight: 600;
        margin-bottom: 5px;
    }
}

#container a {
    text-decoration: none;
}

ion-footer {
    position: absolute;
    bottom: 0;
}

ion-slides {
    height: 100%;
    background: #fff;

    .slide {
        width: 100%;
        height: 100%;

        ion-img {
            width: 100%;
        }
    }
}