<ion-content [fullscreen]="true" class="bg-dark">
    <ion-slides #slider pager="true" class="ion-padding-vertical" *ngIf="showSlides; else noSlides" mode="ios">
        <ion-slide (click)="swipeNext(slider)">
            <div class="slide">
                <ion-img src="assets/images/art1.png"></ion-img>
                <div class="ion-padding">
                    <h1>Encuentra tus productos</h1>
                </div>
            </div>
        </ion-slide>
        <ion-slide (click)="swipeNext(slider)">
            <div class="slide">
                <ion-img src="assets/images/art2.png"></ion-img>
                <div class="ion-padding">
                    <h1>Selecciona y programa tu entrega</h1>
                </div>
            </div>
        </ion-slide>
        <ion-slide (click)="clearSliders()">
            <div class="slide">
                <ion-img src="assets/images/art3.png"></ion-img>
                <div class="ion-padding">
                    <h1>Entregas seguras en la puerta de tu casa</h1>
                    <br>

                    <ion-button expand="block" shape="round">Continuar</ion-button>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <ng-template #noSlides>
        <ion-row class="ion-padding-horizontal ion-justify-content-center">
            <ion-img class="logo" src="assets/images/logo.png"></ion-img>
            <div id="container" class="ion-padding-vertical">
                <h3>
                    <ion-text color="light">
                        Ingresa con:
                    </ion-text>
                </h3>
                <ion-button color="primary" shape="round" (click)="goToSignInWithPhone()" mode="ios" expand="block">Número celular
                </ion-button>
                <ion-text color="light">ó</ion-text>
                <ion-button color="primary" shape="round" (click)="goToSignIn()" mode="ios" expand="block">Email
                </ion-button>
                <!-- <ion-button color="primary" shape="round" (click)="goToSignUp()" mode="ios" expand="block">Regístrate
                </ion-button> -->
            </div>
        </ion-row>

        <ion-footer class="ion-no-border ion-text-center">
            <!-- <ion-text color="light" (click)="goToSignIn()">
                <p>¿Ya tienes una cuenta? <br>
                    <strong>Iniciar Sesión</strong>
                </p>
            </ion-text> -->
            <ion-text color="light" (click)="goToSignUp()">
                <p>¿No tienes una cuenta? <br>
                    <strong>Regístrate</strong>
                </p>
            </ion-text>
            <br>
        </ion-footer>
    </ng-template>
</ion-content>