// .products-container {
//     background: #fff;
//     min-height: 100%;
//     padding-bottom: 60px;
//     ion-searchbar {
//         --border-radius: 10px;
//     }
// }
// .default-list {
//     ion-item {
//         margin: 10px 0;
//         max-height: 150px;
//     }
// }
// .product {
//     width: 90%;
//     display: flex;
//     align-items: center;
//     &--left {
//         width: 100px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         ion-button {
//             position: absolute;
//             top: 0;
//             left: 13px;
//             z-index: 99;
//             text-align: center;
//         }
//         ion-img {
//             width: 110px;
//             height: 110px;
//         }
//         .product-image {
//             width: 110px;
//             height: 110px;
//             border-radius: 15px;
//             overflow: hidden;
//             position: relative;
//             left: 10px;
//             box-shadow: -1px 2px 5px 0px #666;
//         }
//     }
//     &--right {
//         width: 100%;
//         max-width: 400px;
//         height: 130px;
//         border: 2px solid var(--ion-color-primary);
//         border-radius: 10px;
//         padding: 5px 35px 5px 15px;
//         .price_add {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//         }
//         span {
//             font-weight: bold;
//             max-height: 38px;
//             width: 100%;
//             display: block;
//             height: 38px;
//             display: flex;
//             align-items: center;
//             align-content: center;
//         }
//         p {
//             margin: 0;
//             font-size: 12px;
//             height: 40px;
//         }
//     }
//     .detail {
//         width: 90px;
//         position: absolute;
//         height: 80px;
//         right: 0;
//         ion-button {
//             height: 80px;
//         }
//     }
// }
// .cart-cta {
//     display: flex;
//     position: fixed;
//     width: 100%;
//     bottom: 56px;
//     padding: 0 10px;
//     background: #fff;
//     ion-button {
//         width: 100%;
//     }
// }
.no-orders {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        text-align: center;
        color: #9e9fa6;
    }
}

// .card {
//     height: 100%;
//     width: 100%;
//     margin: 10px;
//     box-shadow: 2px 3px 5px #8c8787;
//     border-bottom: 5px solid rgb(179, 150, 89);
// }