<app-header trans="true" [showAddress]="false"></app-header>
<ion-content [fullscreen]="false">
    <div>

        <div>
            <ion-text color="primary">
                <h2 text-center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disponibles</h2>
            </ion-text>
        </div>
        <br>
        <ion-list lines="none" *ngIf="orders$ | async as orders; else noOrders">
            <div *ngFor="let order of orders">


                <span><b>&nbsp;&nbsp;&nbsp;&nbsp;Ganancia total: S/{{order.commission | number:'1.2-2'}}</b></span>
                <br>

                <ion-card>

                    <ion-card-content>

                        <ion-grid>
                            <ion-row>
                                <ion-col size="9">
                                    <!-- <div class="product--right"> -->

                                    <!-- <span>{{ order?.shop?.name }}</span> -->
                                    <p>Orden nro.&nbsp; {{ order?.id }}
                                        <br>Fecha:&nbsp; {{ order?.order_datetime | datetime }}
                                        <br> Recibe en: {{ order?.shop.address }}
                                        <!-- <br> Cantidad de productos: {{ order?.quantity_products }} -->
                                        <br> Entrega en: {{ order?.address.address.split(',')[0]}}
                                        <!-- <span *ngIf="order?.real_delivery_datetime">
                                            Entregado: {{ order?.real_delivery_datetime | datetime}}
                                        </span> Total: S/ {{ order?.total_receivable }} <br> -->
                                    </p>
                                </ion-col>

                                <ion-col text-center size="3">

                                    <div (click)="goToTakeOrder(order)">
                                        <ion-button mode="ios" color="primary">TOMAR <br> ORDEN</ion-button>
                                    </div>

                                </ion-col>

                            </ion-row>

                        </ion-grid>


                    </ion-card-content>
                </ion-card>

            </div>

        </ion-list>

        <ng-template #noOrders>
            <div class="no-orders">
                <h5>No tienes pedidos por el momento</h5>
            </div>
        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=2></app-footer>