<app-header trans="true" [showAddress]="false"></app-header>
<ion-content [fullscreen]="true">
    <div>
        <br>
        <div>
            <ion-text color="primary">
                <h2 text-center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomados</h2>
            </ion-text>
        </div>
        <ion-list lines="none" *ngIf="orders$ | async as orders; else noOrders">
            <div *ngFor="let order of orders; let i=index">

                <ion-card>
                    <!-- <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-8>
                                    <span>Ganancia total:</span>
                                </ion-col>

                                <ion-col col-4>
                                    <span>S/{{order.cost_shipping - order.commission | number:'1.2-2'}}</span>
                                </ion-col>

                            </ion-row>

                        </ion-grid>

                    </ion-card-header> -->

                    <ion-card-content>


                        <p>Orden nro. &nbsp; {{ order?.id }} &nbsp;&nbsp; Fecha: {{ order?.date }} &nbsp; {{ order?.time }} </p>
                        <p>Estado: {{ order?.state }}</p>
                        <p>Monto: S/{{order.product_cost | number:'1.2-2' }}</p>
                        <p>Para: {{ order?.address.address.split(',')[0] }}</p>
                        <div (click)="viewDetails(i)">
                            <ion-text color="primary">
                                <b><u>Ver Detalle</u></b>
                            </ion-text>
                        </div>

                        <div *ngIf="verDetalle[i]==true">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1">
                                    </ion-col>
                                    <ion-col size="11">
                                        <p>Cliente: {{order.name}}&nbsp;{{order.last_name}}</p>
                                        <p>Teléfono: {{order.phone}}</p>
                                        <br>
                                        <p>Envío: S/{{order.cost_shipping | number:'1.2-2' }}</p>
                                        <p>Total: S/{{order.amount | number:'1.2-2' }}</p>
                                        <br>
                                        <p>Productos</p>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                    Cant.
                                                </ion-col>
                                                <ion-col size="9">
                                                    Nombre
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngFor="let product of order.product_list">

                                                <ion-col size="3">
                                                    {{product.quantity}}
                                                </ion-col>

                                                <ion-col size="9">
                                                    {{product.name}}
                                                </ion-col>

                                            </ion-row>

                                        </ion-grid>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </div>

                    </ion-card-content>
                </ion-card>




            </div>

        </ion-list>

        <ng-template #noOrders>
            <div class="no-orders">
                <h5>No tienes pedidos por el momento</h5>
            </div>
        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=3></app-footer>