.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url(/assets/imgs/transparent-icons-bg.png) 0 0/100% 76% repeat;
}

.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--container {
        text-align: center;
        color: #fff;
        width: 65%;

        ion-icon {
            font-size: 80px;
        }

        h1 {
            font-weight: bold;
            font-size: 22px;
        }

        p {
            font-size: 12px;
        }
    }
}