<ion-content class="bg-dark">
  <div class="thanks">
    <div class="thanks--container">
      <ion-icon name="checkmark-circle"></ion-icon>
      <h1>
        ¡GRACIAS POR REGISTRARTE!
      </h1>
      <p>
        Ahora ingresa con tu correo y contraseña para empezar.
      </p>
      <br />
      <ion-button expand="block" shape="round" class="ion-text-capitalize" (click)="goToLogin()">
        <strong>EMPEZAR</strong>
      </ion-button>
    </div>
  </div>
</ion-content>