<ion-content class="ion-padding">
    <div class="inside-wrapper">
        <div class="thanks ion-padding ion-padding-top">
            <h1>
                <ion-icon name="thumbs-up-outline" color="light"></ion-icon><br>
                <ion-text color="light">ORDEN ENVIADA</ion-text>
            </h1>
            <ion-img class="logo" src="assets/images/logo-black.png"></ion-img>
        </div>
        <div class="ion-padding bg-dark detail">
            <div class="checkout-item">
                <div>
                    <ion-text color="light">Dirección</ion-text>
                </div>
                <div>
                    <ion-text color="primary">Avenida Arequipa 123</ion-text>
                </div>
            </div>
            <div class="checkout-item">
                <div>
                    <ion-text color="light">Tiempo de entrega</ion-text>
                </div>
                <div>
                    <ion-text color="primary">40 min</ion-text>
                </div>
            </div>
            <div class="checkout-item">
                <div>
                    <ion-text color="light">Método de pago</ion-text>
                </div>
                <div>
                    <ion-text color="primary">Tarjeta</ion-text>
                </div>
            </div>
            <div class="checkout-item">
                <div>
                    <ion-text color="light">Total productos</ion-text>
                </div>
                <div>
                    <ion-text color="primary">S/ 40.00</ion-text>
                </div>
            </div>
            <div class="checkout-item">
                <div>
                    <ion-text color="light">Total</ion-text>
                </div>
                <div>
                    <ion-text color="primary">S/ 50.00</ion-text>
                </div>
            </div>
            <br>
            <div>
                <ion-button color="primary" mode="ios" expand="block" (click)="goToHome()">Aceptar</ion-button>
            </div>
        </div>
    </div>

</ion-content>