ion-content {
    --background: transparent;
    text-align: center;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 8px #222;
}

.thanks {
    background: var(--ion-color-primary);
    text-align: center;
    padding-bottom: 70px;
    border-radius: 20px;

    ion-icon {
        font-size: 3em;
    }

    ion-img {
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.detail {
    width: 100%;
    border-radius: 20px;
    position: relative;
    top: -45px;
}

.inside-wrapper {
    background: transparent;
    position: relative;
    height: 100%;
    border-radius: 20px;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--ion-color-medium);
    padding: 15px 0;
}