<div *ngIf="modalidad == 1 || modalidad==0">

    <ion-tab-bar slot=" bottom " color="dark " mode="md ">

        <ion-tab-button tab="home " (click)="goToHome() ">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search " (click)="goToSearch() ">
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map " (click)="goToFavourites() ">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="schedule " (click)="goToOrders() ">
            <ion-icon name="gift-outline"></ion-icon>
            <ion-label>Pedidos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about " (click)="goToCart() ">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-badge *ngIf="cartLength>0" class="cart-number" color="danger">{{cartLength}}</ion-badge>
            <ion-label>Carrito</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</div>

<div *ngIf="modalidad == 2">

    <ion-tab-bar slot="bottom" color="dark" mode="md">

        <ion-tab-button tab="home" (click)="goToHome()">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search" (click)="goToDisponibles()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Disponibles</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map" (click)="goToOrdersTaken()">
            <ion-icon name="checkmark-outline"></ion-icon>
            <ion-label>Tomados</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="schedule" (click)="goToCuentasM()">
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>Estado cuenta</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</div>

<div *ngIf="modalidad==3 ">

    <ion-tab-bar slot="bottom" color="dark" mode="md">

        <ion-tab-button tab="home" (click)="goToHome()">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search" (click)="goToShopNuevos()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Nuevos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map" (click)="goToShopTaken()">
            <ion-icon name="checkmark-outline"></ion-icon>
            <ion-label>Tomados</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</div>