<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="products-container">
        <br>
        <div class="ion-padding-horizontal">
            <ion-text color="dark">
                <h2>Mis pedidos</h2>
            </ion-text>
        </div>
        <ion-list class="default-list" lines="none" *ngIf="orders$ | async as orders; else noOrders">
            <ion-item *ngFor="let order of orders">
                <div class="product">
                    <div class="product--left">
                        <ion-button color="secondary" mode="ios">{{order?.state}}</ion-button>
                        <div class="product-image">
                            <!-- <ion-img src="{{order?.shop?.logo}}"></ion-img> -->
                            <ion-img [src]="baseUrl + '/shops/' + order?.shop?.id + '/' + order?.shop?.logo || 'assets/images/product.jpg'"></ion-img>
                        </div>
                    </div>
                    <div class="product--right">
                        <span>Orden nro.&nbsp; {{ order?.id }}</span>
                        <p>
                            Llega en: {{ order?.estimated_delivery }} min
                            <br> Cantidad de productos: {{ order?.quantity_products }}
                            <br>
                            <span *ngIf="order?.real_delivery_datetime">
                 Entregado: {{ order?.real_delivery_datetime | datetime}}
               </span> Total: S/ {{ order?.total_receivable }} <br>
                        </p>
                        <div class="price_add">
                            <!-- <ion-text color="primary"><strong>S/ 122.00</strong></ion-text> -->
                            <ion-button size="small" mode="ios">{{ order?.order_datetime | datetime}}</ion-button>
                        </div>
                    </div>
                    <div class="detail" (click)="goToOrder(order.id)">
                        <ion-button mode="ios" color="primary">VER <br> DETALLE</ion-button>
                    </div>
                </div>
            </ion-item>

        </ion-list>
        <ng-template #noOrders>
            <div class="no-orders">
                <h5>No tienes pedidos por el momento</h5>
            </div>
        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>