    ion-item {
        --background: transparent;
        --padding-start: 0px;
        --border-color: #fff;
        color: #fff;
    }

    ion-label {
        color: #f2f2f2;
    }

    .slot-button {
        margin-right: 15px;
        font-size: 13px;
    }