<ion-content [fullscreen]="true" class="bg-dark">
    <app-header trans="true">
        <slot-end>
            <ion-text class="slot-button" color="primary" (click)="goToSignUp()"><strong>Registrate</strong></ion-text>
        </slot-end>
    </app-header>

    <div class="ion-padding-horizontal">
        <ion-row class="ion-padding-horizontal ion-justify-content-center">
            <ion-text color="light">
                <h2>Iniciar Sesión</h2>
            </ion-text>
        </ion-row>
        <div class="signup-form ion-padding">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()" novalidate>
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input clearOnEdit="false" type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <br>
                </ion-list>
                <!-- <div class="ion-row ion-text-center">
          <ion-text color="danger" *ngIf="errorMessage">
            <small>
              {{ errorMessage }}
            </small>
          </ion-text>
        </div> -->
                <ion-row class="ion-justify-content-center">
                    <ion-button fill="clear" color="light" mode="ios" size="small">
                        ¿Olvidaste tu contraseña?
                    </ion-button>
                </ion-row>
                <br>
                <ion-row class="ion-justify-content-center">
                    <ion-button type="submit" shape="round" class="default-btn" [disabled]="signInForm.invalid">
                        Iniciar Sesión
                    </ion-button>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>