<app-header trans="true"></app-header>
<ion-content [fullscreen]="true">
    <div class="product-container">
        <div class="product-img">
            <div class="img-container">

                <ion-img [src]="baseUrl + '/shops/' + product.shopId + '/' + product.image_url"></ion-img>
                <ion-img [src]="'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'"></ion-img>

                <!-- <img [src]="baseUrl + product.image_url"> -->
                <!-- <img [src]="product.image_url || 'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'"> -->
                <!-- <img src="https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg"> -->
            </div>
        </div>
        <div class="product-desc">
            <strong>{{ product.name }}</strong>
            <p>{{ product.description }}</p>
            <div class="product-price">
                <ion-text color="primary">S/ {{ product.price_with_percentage }}</ion-text>
            </div>
        </div>
    </div>
    <div class="product-cta">
        <div class="quantity">
            <div class="quantity--container">
                <ion-button mode="ios" color="primary" fill="clear" (click)="less()">-</ion-button>
                {{ quantity }}
                <ion-button mode="ios" color="primary" fill="clear" (click)="more()">+</ion-button>
            </div>
        </div>
        <div class="add" (click)="addProduct()">
            <ion-button mode="ios" expand="block">Agregar</ion-button>
        </div>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>