.product-container {
    .product-img {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .img-container {
            max-width: 200px;
            height: 160px;
            overflow: hidden;
            border-radius: 15px;
            box-shadow: 0px 2px 5px 0px #666;

            img {
                height: 100%;
            }
        }
    }

    .product-desc {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        padding: 5px 20px;
        border: 2px solid var(--ion-color-primary);
        border-radius: 5px;
        box-shadow: 0px 2px 4px 0px #d1d1d1;

        p {
            font-size: 12px;
        }

        ion-text {
            font-weight: bold;
        }
    }
}

.product-cta {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 0 10px;
    background: #fff;

    .quantity {
        width: 50%;

        .quantity--container {
            border: 1px solid #ddd;
            border-radius: 10px;
            margin-top: 4px;
            margin-bottom: 4px;
            height: 2.8em;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.03em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            ion-button {
                font-size: 20px;
            }
        }
    }

    .add {
        width: 50%;
    }
}