<ion-content [fullscreen]="true" class="bg-dark">
    <app-header trans="true" [showAddress]="false"></app-header>
    <div class="ion-padding-horizontal">

        <div class="ion-padding-horizontal">
            <ion-text color="light">
                <h2>Regístrate <br><small>para continuar</small> </h2>
            </ion-text>
        </div>
        <div class="signup-form ion-padding">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Nombre</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Apellidos</ion-label>
                        <ion-input formControlName="last_name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Teléfono</ion-label>
                        <ion-input formControlName="phone" type="tel" maxlength="9"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" type="email" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Confirmar Contraseña</ion-label>
                        <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <br>
                    <!-- <ion-item lines="none">
          <ion-label class="checkbox-label">Declaro que he leído y acepto la nueva Política de Privacidad y los Términos
            y Condiciones</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item> -->

                </ion-list>
                <ion-button expand="block" [disabled]="signUpForm.invalid" type="submit">
                    Registrarse
                </ion-button>
            </form>
        </div>
        <div class="ion-padding">
            <ion-img class="logo" src="assets/images/logo.png" style="height: 90px;"></ion-img>
        </div>
    </div>

</ion-content>