.signup-form {
    border-radius: 15px;
    background: transparent;

    ion-item {
        --background: transparent;
        --padding-start: 0px;
        --border-color: #fff;
        color: #fff;
    }

    ion-label {
        color: #f2f2f2;
    }

    ion-checkbox {
        margin-right: 10px;
    }

    .checkbox-label {
        font-size: 12px;
        text-overflow: none;
        white-space: normal;
        overflow: unset;
    }
}

.scroll {
    height: 100%;
}