<app-header [showBack]="true" [bgPurple]="false"></app-header>
<div class="tyc-header">
  <h5>TÉRMINOS Y CONDICIONES</h5>
</div>
<ion-content class="ion-padding tyc">
  <p>
    Las presentes condiciones generales de uso e información legal (en adelante, Condiciones Generales) se aplican al
    sitio web de Búho Company (en adelante, Búho), cuyo dominio es www.buhoapp.com y a la correspondiente aplicación
    móvil- El sitio es propiedad de Búho. Al utilizar el sitio, muestras tu conformidad con las presentes condiciones de
    uso. Si no estás de acuerdo, te rogamos te abstengas de utilizarlo.
    A través de las presentes Condiciones Generales, Búho pone a disposición de los usuarios (en adelante Usuario o
    Usuarios) el sitio web y la aplicación móvil Búho (en adelante denominadas conjuntamente, la Plataforma).
    En cumplimiento de lo establecido en la normativa reguladora, se exponen los siguientes datos identificativos del
    titular del sitio:
    • Razón Social: Búho Company S.A.C.
    • Domicilio legal: Av. José Pardo # 223 – Miraflores.
    • RUC: 20605370285
    • Partida Registral Nº: 14379171
    • Objeto
    Búho es una compañía, que tiene como objetivo hacer la vida más simple de sus clientes. Su actividad principal es el
    desarrollo y gestión de una plataforma tecnológica mediante la que a través de una aplicación móvil (en adelante, la
    App) permite a determinadas tiendas locales de algunas ciudades en diferentes territorios ofertar o insertar sus
    productos y/o servicios a través de la misma, y en su caso, si los usuarios de la App y consumidores de las citadas
    tiendas locales así lo solicitan a través de la App, de forma accesoria, intermedia en la entrega inmediata de los
    productos.
    Así, Búho ha desarrollado una Plataforma mediante la cual diferentes comercios, con los que Búho puede mantener un
    acuerdo comercial por el uso de la plataforma, ofrecen y/o pueden insertar una serie de productos y servicios. El
    Cliente tiene la posibilidad de solicitar la adquisición y/o recogida de productos y servicios de estos comercios,
    de forma presencial, mediante el mandato que confiere a un tercero al solicitar un pedido a través de la Plataforma,
    en cuyos casos Búho actúa como mero intermediario y por lo tanto, no puede asumir ni asume responsabilidad alguna
    sobre la calidad de los productos o la correcta prestación de los servicios ofrecidos directamente por los comercios
    ni por dichos terceros.
    Asimismo, Búho es una Plataforma de intermediación en la contratación telemática de servicios “on demand. . La misma
    pretende facilitar que aquellas personas que necesiten ayuda con sus recados, compras presenciales  y/o recogida de
    productos en comercios locales (en adelante, Clientes), puedan realizar sus recados mediante y delegando en dichos
    terceros dispuestos a llevar a cabo voluntariamente el mandato que le confieran los Clientes (en adelante,
    “Comisionados”).
    Los Comisionados por lo tanto, son una red de profesionales independientes que colaboran con Búho, cuando éstos
    están interesados en realizar la prestación de sus servicios , se conectan a la Plataforma de Búho y en un tiempo
    determinado se comprometen a realizar el servicio que le encomiende el Cliente mediante la mencionada comisión. Como
    consecuencia de ello, Búho no puede asumir la responsabilidad de los plazos de entrega en tanto dependerán del buen
    hacer de las tiendas locales, en la preparación de los pedidos, de los propios Comisionados, así como de la
    información facilitada por los propios usuarios al realizar el pedido o de su disponibilidad y respuesta a la hora
    de su entrega. A estos efectos, los plazos de entrega indicados a través del Sitio son meramente orientativos.
    A lo largo de las presentes Condiciones Generales de Uso nos referiremos a Clientes y Comisionados como Usuarios de
    la Plataforma.

    • Términos de Uso
    El acceso a la Plataforma, y la creación voluntaria de un perfil por parte del Usuario, implica el conocimiento y la
    aceptación expresa e inequívoca de las presentes Condiciones Generales de Uso y Contratación y la Política de
    Privacidad y la Política de Cookies por parte de todos los Usuarios.
     
    • Acceso y Registro para Clientes
    Para poder ser Cliente de la Plataforma es indispensable que se cumplan los siguientes requisitos:
    • Haber cumplido o ser mayor de 18 años de edad.
    • Cumplimentar de manera veraz los campos obligatorios del formulario de registro, en el que se solicitan datos de
    carácter personal como nombre de usuario, correo electrónico, número de teléfono y número de tarjeta bancaria.
    • Aceptar las presentes Condiciones de Uso y Contratación.
    • Aceptar la Política de Privacidad y Protección de Datos.
    • Aceptar la Política de Cookies. 
    El Usuario garantiza que todos los datos sobre su identidad y legitimidad facilitados a Búho en sus formularios de
    registro de la Plataforma son veraces, exactos y completos. Asimismo, se compromete a mantener actualizados sus
    datos.
    En el supuesto en que el Usuario facilite cualquier dato falso, inexacto o incompleto o si Búho considera que
    existen motivos fundados para dudar sobre la veracidad, exactitud e integridad de los mismos, Búho podrá denegarle
    el acceso y uso presente o futuro de la Plataforma o de cualquiera de sus contenidos y/o servicios.
    Al darse de alta en la Plataforma, el Usuario seleccionará un nombre de usuario (username) y una clave de acceso
    (password). Tanto el username como el password son estrictamente confidenciales, personales e intransferibles. Búho
    recomienda no utilizar las mismas credenciales de acceso que en otras plataformas para aumentar la seguridad de las
    cuentas. En el supuesto que el Usuario utilice las mismas credenciales de acceso que en otras plataformas, Búho no
    podrá garantizar la seguridad de la cuenta ni asegurar que el Usuario es el único que accede a su perfil.
    El Usuario se compromete a no divulgar los datos relativos a su cuenta ni hacerlos accesibles a terceros. El Usuario
    será el único responsable en caso de uso de dichos datos o de los servicios del Sitio por terceros, incluidas las
    manifestaciones y/o contenidos vertidos en la Plataforma, o cualquier otra actuación que se lleve a cabo mediante el
    uso del username y/o password.
    El usuario será el único propietario sobre el contenido vertido por el mismo en la Plataforma. Asimismo, a través
    del registro en la Plataforma y la aceptación de las presentes Condiciones, el Usuario concede a Búho, en relación
    con el contenido que pueda proveer, una licencia mundial, irrevocable, transferible, gratuita, con derecho a
    sublicencia, uso, copia, modificación, creación de obras derivadas, distribución, comunicación pública así como su
    explotación en cualquier forma que Búho considere apropiada, con o sin comunicación ulterior al Usuario y sin la
    necesidad de liquidar cantidad alguna por los mencionados usos.
    Glovo no puede garantizar la identidad de los Usuarios registrados, por lo tanto, no será responsable del uso de la
    identidad de un Usuario registrado por terceros no registrados. Los Usuarios se obligan a poner inmediatamente en
    conocimiento de Búho la sustracción, divulgación o pérdida de sus credenciales, comunicándolo a través de los
    canales de comunicación ofrecidos por Búho.
     
    3.1 Perfil
    Para poder completar el registro en la Plataforma el Usuario deberá proporcionar algunos datos como: nombre de
    Usuario, dirección de correo electrónico, teléfono, datos de la tarjeta bancaria, etc. Una vez completado el
    registro, todo Usuario podrá acceder a su perfil y completarlo, y editarlo y/o darse de baja según estime
    conveniente. Búho no almacena los datos de pago de los usuarios, que serán tratados y almacenados por el prestador
    de servicios de pago según descrito en las presentes Condiciones y en la Política de Privacidad.
     
                  3.2. Robo o sustracción de la tarjeta de crédito
    En tanto Glovo no puede garantizar la identidad de los Usuarios registrados, los Usuarios tendrán la obligación de
    informar a Búho en aquellos supuestos en que tengan constancia que la tarjeta de crédito asociada a su perfil de
    Búho hubiera sido robada, y/o se estuviera utilizando por un tercero de forma fraudulenta. Por ello, toda vez que
    Búho y su plataforma de pago velan proactivamente por la protección de los Usuarios con las correspondientes medidas
    de seguridad, para el caso en que el Usuario no informara a Búho de dicha sustracción, Búho no será responsable del
    uso fraudulento que puedan hacer terceros de la cuenta del Usuario. Búho invita a los Usuarios, en caso de robo,
    sustracción o sospecha de un mal uso de su tarjeta de crédito a realizar la correspondiente denuncia ante la
    autoridad policial.
    Búho adquiere el compromiso de colaborar con el Usuario y las autoridades competentes, si así fuera necesario, para
    facilitar la prueba fehaciente del cargo indebido. En caso de fraude, Búho se reserva el derecho a interponer las
    acciones que en su caso fueran menester cuando resulte perjudicado por el uso indebido del sitio.
     
    • Funcionamiento del servicio. Condiciones de la Comisión.
    Cuando un Usuario registrado como Cliente necesite ayuda con un recado, deberá dirigirse a la aplicación de Búho y
    solicitar el servicio mediante dichos medios telemáticos. El servicio de recadería básico consiste en la recogida de
    un producto y su posterior entrega, ambas direcciones establecidas por el Cliente siempre que se encuentren
    exclusivamente dentro del territorio de actuación de Búho. Asimismo, el Cliente puede solicitar al Comisionado que
    compre presencialmente productos en su nombre, los recoja y los entregue en las direcciones consignadas, a través de
    mandato el Comisionado se compromete a adquirir los productos encomendados por el Cliente en su nombre, y según las
    indicaciones y especificaciones brindadas por este último.
    El Cliente es el único responsable en la correcta consignación de las direcciones de entrega y recogida en la
    Plataforma, por lo que exime a Búho y al Comisionado de cualquier negligencia o error en la recogida o entrega del
    pedido derivada de la consignación errónea de las direcciones de entrega y recogida. Como consecuencia de ello, será
    el Cliente quién deba asumir el coste derivado de la incorrecta consignación de las direcciones de entrega y
    recogida en la Plataforma.
    El Cliente deberá proporcionar toda la información, lo más detallada posible, respecto al servicio objeto del
    recado, y en su caso, en relación con el producto que solicite comprar al Comisionado en su nombre en las tiendas
    físicas. Para ello, podrá introducir los comentarios que considere útiles en el apartado “comentarios”. El Cliente
    tendrá comunicación constante con el Comisionado, pudiéndose dirigir en todo momento al Comisionado a los efectos de
    que éste ejecute la comisión conferida según las propias indicaciones de Cliente.
    A efectos de facilitar la comunicación directa con el mandatario y en el supuesto que exista alguna incidencia en la
    tramitación del encargo y/o para comunicar algún cambio en el mismo, Búho pone a disposición de los usuarios un chat
    interno que permitirá el contacto directo e inmediato entre usuario y comisionado durante la ejecución del pedido.
    El chat dejará de estar activo en el momento en que el usuario haya recibido el producto o se haya cancelado por
    cualesquiera de las causas previstas. En el supuesto que el usuario quiera comunicarse con el mandatario o con Búho
    tras la finalización del encargo, deberá utilizar el formulario de contacto presente en la Plataforma y contactar
    con el servicio de atención al cliente.
    El Cliente exime a Búho y al Comisionado de cualquier negligencia o error en las indicaciones que consigne para la
    compra del producto que solicite comprar en su nombre a las tiendas físicas. Como consecuencia de ello, será el
    Cliente quién deba asumir el coste derivado de la incorrecta consignación de las indicaciones de los productos en la
    Plataforma (i.e. dirección incorrecta, producto incorrecto).
    En la medida que en la plataforma no conste el precio del producto/y o servicio y dado que los precios consignados
    en la Plataforma son orientativos, el Cliente podrá fijar un precio aproximado. En este caso, el servicio o producto
    podrá ser adquirido presencialmente por el Comisionado de acuerdo con lo que el Cliente haya estimado y nunca por
    una cantidad superior al 30% de dicha estimación. En el caso que el precio sea más alto, el Comisionado se
    comunicará con el Cliente para informarle de esta situación y será este último quién tome la decisión final de
    proceder o no con la compra presencial en tienda. Búho, con la única finalidad de ayudar al Usuario, podrá facilitar
    una estimación aproximada del precio, sin que ningún caso dicha estimación pudiera resultar vinculante con el precio
    final que deba abonar el Usuario.
    Si el producto y/o servicio no se encuentra disponible, el Comisionado deberá llamar al Cliente para exponerle las
    opciones. En caso de que el Cliente no se encuentre de acuerdo con ninguna de las opciones expuestas por el
    Comisionado y, consecuentemente, no esté interesado en las opciones alternativas, deberá asumir la política de
    cancelación expuesta en las presentes Condiciones Generales de Uso (en el apartado nueve). Si el Cliente no responde
    a las llamadas, el Comisionado esperará 5 minutos antes de marcharse.
    En los supuestos en los que el Cliente no se encontrase en el lugar consignado para la entrega, el Comisionado
    conservará el producto durante 24 horas, o 5 minutos en el caso de productos perecederos. Asimismo, el Cliente
    deberá asumir el 100% del coste del servicio de recadería básico, así como del precio del producto en el caso de que
    se haya adquirido o contratado alguno a través del Comisionado por encargo del Cliente, y deberá volver a pagar otro
    servicio para recibir los productos no entregados. El Comisionado en ningún caso será responsable del deterioro o de
    la caducidad del producto objeto del recado.
    Una vez finalizado el encargo, en el caso de que se haya solicitado la adquisición presencial de un producto, el
    Comisionado entregará al Cliente el recibo físico correspondiente a dicho producto, y/ o a través de correo
    electrónico. Si el recado tiene por objeto la mera entrega de un producto, el Comisionado se lo entregará al Cliente
    en el lugar y momento exacto en que éste último le indique. Todo ello sin perjuicio del recibo electrónico por el
    servicio que recibirá el Cliente en la dirección de correo asociado a su cuenta.
    En el supuesto que el Usuario reciba confirmación de la realización del recado sin haber procedido a la ratificación
    de la comisión por sí mismo o mediante un receptor autorizado por este, deberá comunicarlo a Búho de forma inmediata
    para que la Plataforma pueda tomar las medidas oportunas a tal efecto. Búho se reserva el derecho a comprobar las
    comunicaciones realizadas por el Usuario en este sentido a efectos de su corroboración y control.
    ALIMENTACIÓN/PRODUCTOS ENVASADOS: Búho recomienda al Usuario que cuando encargue productos alimenticios por mandato
    solicite al Comisionado y/o al restaurante o establecimiento ofertante, a través de los medios facilitados por la
    Plataforma, la información relativa al contenido y composición de los productos alimenticos encargados.
     
    • Devolución de productos 
    En caso de que el Cliente desee proceder a la devolución de un producto o desee realizar una reclamación acerca de
    la realización de un servicio, sin perjuicio de que Búho, como intermediario, asuma la gestión de la misma, el
    responsable final siempre será el comercio en el cual se realizó la compra. En caso de reembolso del importe de la
    compra al Cliente, será el comercio el que tendrá potestad para decidir el método de devolución (metálico, tarjeta
    de crédito, vale de compra…) con independencia de que sea Búho el que por cuenta del comercio local proceda a la
    devolución. Por lo tanto, la devolución de un producto adquirido por el Mandatario en ejecución del mandato
    conferido por el Cliente quedará sujeta en todo caso a la política de devoluciones del comercio.
    Determinados establecimientos podrían no disponer de espacios abiertos al público, con lo que el Usuario no podría
    acceder a los mismos a efectos de tramitar la devolución o reclamación. En estos supuestos, el Usuario deberá
    contactar con el servicio de atención al cliente de Búho, a través de los canales presentes en la Plataforma, con la
    finalidad de obtener la ayuda y soporte necesarios.
    En el caso que el Usuario quiera tramitar la devolución de algún producto por no adecuarse a lo que ha solicitado a
    través de la plataforma, el Usuario deberá aportar una fotografía del pedido total junto con un listado de los
    productos incorrectos o que no se hayan entregado, así como otras evidencias que demuestren la no adecuación del
    producto solicitado.
    El Cliente deberá comprobar los productos que el Comisionado le entregue en la dirección de entrega antes de
    proceder a ratificar la comisión. Asimismo, el Cliente manifiesta que un tercero podrá ratificar el mandato en su
    nombre, por ejemplo en aquellos supuestos en que el Cliente no se encuentre en la dirección final de entrega o haya
    designado a un tercero para la recogida. Así, recae sobre el Cliente y/o dicho tercero la responsabilidad de
    verificar la adecuación del servicio, así como en su caso, recabar las evidencias suficientes para justificar lo
    contrario.
    En todo caso, será potestad del comercio determinar en cada caso la procedencia de la devolución por lo que, en caso
    de disputa, el Cliente deberá ponerlo en conocimiento de Búho a través de los medios facilitados por Búho a tal
    efecto.
     
    • Tarifas de los servicios y facturación
    El alta y uso de la Plataforma para los Clientes es completamente gratuita.
    El Cliente únicamente deberá pagar por cada servicio solicitado a través de la Plataforma en concepto del uso de la
    misma para la solicitud de productos y comunicación a través de la Plataforma, y por los servicios de mensajería o
    recadería prestados por terceros. Adicionalmente, en aquellos servicios que incluyan la compra de un producto, el
    Usuario deberá pagar el precio de dicho producto. El Usuario, al registrarse a través de la Plataforma y
    proporcionar la información bancaria requerida, autoriza expresamente a Búho a pasar los recibos correspondientes al
    pago de los servicios solicitados, incluyendo el precio y la entrega de los productos solicitados.
    El precio total de cada servicio puede componerse de un porcentaje variable en función de los kilómetros y tiempo
    que deba recorrer y utilizar el Comisionado, así como en su caso, del precio fijado por cada comercio para los casos
    en que el Usuario solicite la compra física de un producto o servicio. Búho se reserva el derecho de modificar el
    precio en función de la franja horaria y/o distancia en la que se realice el servicio. De acuerdo con estas
    condiciones, el Cliente tendrá derecho a saber la tarifa aproximada de su servicio antes de la contratación del
    mismo y formalización del pago, exceptuando cuando el usuario no especifique la dirección de recogida. La tarifa del
    servicio de envío podrá variar cuando se dieran circunstancias de fuerza mayor que estuvieran fuera del alance de
    Búho y que conlleven un aumento de dicha tarifa.
    La tarifa podrá incluir propinas para el Comisionado y/o la tienda local cuyo importe dependerá única y
    exclusivamente de la voluntad del Usuario.
    Búho se reserva el derecho de modificar sus precios en cualquier momento. Los cambios efectuados tendrán efecto
    inmediato tras su publicación. El Usuario autoriza expresamente a Búho para que le remita por medios telemáticos, a
    la dirección de correo electrónica facilitada por el mismo durante el proceso de registro, el recibo de los
    servicios contratados y/o las facturas generadas. En caso de requerir una factura, el usuario deberá añadir los
    datos fiscales a la plataforma antes de hacer el pedido.
    La cancelación posterior del servicio por el usuario, cuando ya haya habido confirmación de preparación del pedido
    por parte del comercio local y la misma haya sido comunicada al Usuario, facultará a Búho a cargar al Cliente la
    tarifa que en su caso corresponda. Asimismo, en el caso que el Usuario hubiera solicitado al Comisionado la compra
    de un producto en nombre suyo, si el Cliente cancelara el pedido cuando la adquisición ya estuviera realizada,
    asumirá los costes de los servicios de envío realizados por el Comisionado, así como del producto. Todo ello sin
    perjuicio de que el Cliente pueda solicitar un nuevo servicio a los efectos de devolver los productos adquiridos, o
    que se le entreguen en otra dirección. Para el caso de productos no perecederos, el Usuario podrá ejercitar su
    derecho de desistimiento ante el comercio que le ha vendido los productos. Si desea ejercer el derecho a través de
    Búho, deberá contratar el nuevo servicio.
                  6.1. Plataformas de pago
    El pago de los productos y/o servicios que se ofertan a través de la Plataforma, que se venden presencialmente en
    los Restaurantes y/o tiendas, y que se entregan a los Clientes de forma diferida, se efectúa transitoriamente a Búho
    y éste lo transmite a los Restaurantes y/o tiendas con los que mantiene un acuerdo comercial. Los Restaurantes y/o
    establecimientos asociados autorizan a Búho a aceptar el pago en su nombre, por lo que el pago del precio de
    cualquier producto (i.e. comida, bebida, regalo…) efectuado correctamente a favor de Búho descargará al Cliente de
    las obligaciones de abonar dicho precio al Restaurante y/o establecimientos asociados.
    Asimismo, el pago del Cliente le descarga de cualquier obligación respecto al Comisionado, teniendo el cobro total
    al Cliente efecto liberatorio sobre cualquier obligación que pudiera tener con Partners y/o Mandatarios.
    El pago de los productos y/o servicios realizado por los Clientes se recibe en las cuenta de Búho mediante una
    Entidad de Dinero Electrónico. Las Entidades de Dinero Electrónico están autorizadas para proporcionar servicios de
    pago regulados en todos los territorios en los que opera Búho y cumplen con la normativa vigente en materia de
    servicios de pago para Plataformas como Búho.
    Búho, a través del proveedor de pagos que a tal efecto tiene contratado y con el único objeto de comprobar el medio
    de pago facilitado, se reserva el derecho, como medida antifraude, a solicitar la preautorización de cargo de los
    productos encargados a través de la plataforma. La citada preautorización no supondrá, en ningún caso, el pago total
    del encargo en tanto éste se realizará única y exclusivamente tras la puesta a disposición de los productos al
    usuario o bien, por las causas descritas en los presentes términos y condiciones.
    Búho, para dar un mayor soporte a los Usuarios, actuará como primer punto de contacto con los mismos y asumirá la
    responsabilidad por los pagos realizados a través de la plataforma. Esta responsabilidad incluye: reembolsos,
    devoluciones, cancelaciones y disputas de resolución, en un estadio inicial, sin perjuicio de las actuaciones que
    Búho pueda realizar ante los comercios locales como únicos vendedores físicos de los productos ordenados por los
    Usuarios.
    Siguiendo cuanto descrito, en el supuesto que exista alguna disputa, Búho ofrecerá la primera línea de soporte y
    reembolsará al usuario si se considera apropiado.
    Si el Usuario tiene algún problema con el desarrollo de su pedido, podrá contactar al servicio de atención al
    usuario de Búho a través de los medios puestos a disposición del mismo en la Plataforma.
     
    • Precio de los productos y/o servicios consignados en la Plataforma
    Todos los precios que se indican en la Plataforma incluyen los impuestos que pudieran ser aplicables en el Perú,
    territorio en el que opera el Usuario y siendo la moneda vigente el nuevo sol peruano.
    De acuerdo con la Cláusula 6 anterior, los precios aplicables en cada servicio serán los publicados en la Plataforma
    sujetos a las particularidades expuestas y aplicados de forma automática en el proceso de contratación en la última
    fase del mismo.
    No obstante, los precios de los productos de venta en restaurantes y/o tiendas mostrados en la Plataforma de Búho
    podrán ser orientativos. En todo caso, dichos precios corresponden a los productos de venta en restaurantes y/o
    tiendas y son exclusivamente fijados por ellos. El Cliente podrá comunicarse con el Comisionado a los efectos de
    confirmar el precio final de los productos solicitados.
    El Usuario asume que en todo caso la valoración económica de algunos de los productos podrá variar en tiempo real en
    función del establecimiento que los vende y el “stock” disponible. Para cualquier información sobre el pedido
    solicitado, el Usuario podrá contactar con Búho.
    De acuerdo con lo anterior, el Cliente mediante la solicitud de compra y envío a través de la plataforma confiere al
    Comisionado un mandato para adquirir presencialmente los productos en su nombre por el precio fijado por los
    comercios. El Cliente podrá estar en contacto directo con el Comisionado tanto durante la realización del pedido,
    como en la entrega del mismo para indicar al Comisionado qué producto solicita.
    • Códigos promocionales y/o otras ofertas o descuentos
    Búho podrá facilitar, en cualquier momento y de forma unilateral, créditos para utilizar dentro de la Plataforma o
    envíos gratis a ciertos usuarios. El Usuario reconoce y acepta que los créditos y envíos gratis deberán ser
    utilizados dentro de los seis (6) meses a contar desde la fecha en la que se pone el crédito o envío gratis a
    disposición del Usuario en la Plataforma.
    Los códigos promocionales y/o otras ofertas o descuentos ofertados a través de la Plataforma deberán ser
    correctamente consignados en la aplicación con anterioridad a la realización del pedido, en caso contrario su uso no
    será efectivo para el Usuario y no podrá disfrutar de los mismos. 
    Siempre que una cancelación sea instada por Búho en los términos descritos en el apartado 9 siguiente, el Cliente
    mantendrá la vigencia del código promocional y/o otras ofertas o descuentos para su uso futuro. Cuando la
    cancelación sea instada por el Usuario se estará a lo previsto en el apartado 9 siguiente.
    Búho se reserva el derecho a cancelar los códigos promocionales y/o otras ofertas o descuentos ofertados de forma
    unilateral, cuando tenga conocimiento de un uso fraudulento de los mismos (i.e. canjear un código promocional cuando
    no se es el destinatario legítimo del mismo, transmisión masiva de códigos, vender descuentos o códigos, ....),
    cuando haya expirado el plazo anteriormente mencionado y, asimismo, se reserva el derecho a aplicar sanciones a los
    usuarios por el importe del uso defraudado a la Compañía.
    Búho no asume ninguna responsabilidad si, por fuerza mayor o sucesos que escapen de su voluntad o cuya necesidad sea
    justificada, se viera obligado a anular, acortar, prorrogar o modificar las condiciones de las promociones.
    En particular, Búho no asume ninguna responsabilidad en caso de un mal funcionamiento del sistema automatizado de
    las promociones.

    • Derecho de desistimiento y cancelación de pedidos
    De acuerdo con la propia naturaleza del servicio que ofrece Búho, el Usuario es consciente de que una vez un
    Comisionado haya aceptado voluntariamente un pedido, se considera que la ejecución del mandato de compra ha
    comenzado y por tanto el Usuario podría no tener derecho a desistir en la solicitud del servicio de forma gratuita.
    Sin perjuicio de lo anterior, los costes de cancelación podrían depender de los siguientes factores:
    Si el restaurante o establecimiento ha aceptado y ha empezado a preparar el pedido, se cobrará el importe de los
    productos. La aceptación por parte del restaurante se comunicará al usuario a través de la Plataforma y/o a través
    del envío de correo electrónico a la dirección registrada por el usuario. 
    Si el usuario cancela el pedido una vez el Comisionado ha aceptado su tramitación, se cobrará el importe de la tasa
    de cancelación al usuario. Se comunicará al usuario la aceptación por parte del Comisionado a través de la
    Plataforma.
    En el supuesto que el restaurante o establecimiento y el Mandatario hayan aceptado la tramitación del pedido, se le
    cobrará al usuario el precio de los productos y la tasa de cancelación.
    El Usuario podrá consultar los costes de cancelación totales por cada orden a través del botón “Cancelar” presente
    en la Plataforma. De forma previa, se mostrará al Usuario el cargo que se aplicará según los factores anteriormente
    descritos.
    Si además, en el momento de cancelación del servicio, el Comisionado ya hubiese realizado la compra encomendada del
    producto o la contratación de un servicio, el usuario podrá encargar al Comisionado que realice la devolución del
    mismo. A tal efecto, el Usuario deberá satisfacer el coste total de adquisición de los productos y los costes de
    entrega, así como el coste del servicio de devolución. En el supuesto que el Comisionado haya podido realizar la
    devolución del producto, se le reintegrará al Usuario el valor del producto, debiendo éste, como se ha dicho, pagar
    el coste de los dos servicios de recogida y entrega, así como de devolución. La devolución en todo caso estará
    sujeta a las políticas de devolución del comercio, por lo que el Cliente manifiesta ser conocedor que en el caso de
    productos perecederos (i.e. comida), es posible que no se pueda proceder a la devolución y por lo tanto, Búho
    quedará facultado para cargar tanto el producto que el Comisionado ya hubiera adquirido bajo su mandato, como el
    servicio de envío incurrido.
    En el caso que el Cliente haya indicado de forma incorrecta la dirección de entrega de los productos, podrá
    consignar una nueva dirección en cualquier momento siempre que se encuentre dentro de la misma ciudad del encargo
    inicial y siempre y cuando esta sea una ciudad dónde Búho ofrece su servicio de intermediación. En ese caso, el
    Cliente estará encargando la contratación de un nuevo servicio y acepta que se le carguen los importes
    correspondientes a la nueva entrega. En caso de encontrarse en otra ciudad de la inicialmente indicada, ésta no
    podrá modificarse para entregarse en una nueva ciudad y el encargo se cancelará, debiendo el Cliente asumir los
    costes generados según se establece en esta cláusula.
    Búho se reserva el derecho a cancelar un pedido sin necesidad de alegar causa justa.  En caso de cancelación instada
    por Búho, el Usuario tendrá derecho al reembolso de la cantidad abonada.
    Búho dispone de hojas de reclamación oficiales a disposición del consumidor, por el objeto del servicio ofrecido por
    Búho, en los idiomas oficiales de los países dónde Búho opera. Las mencionadas hojas de reclamación podrán
    solicitarse por parte del consumidor a través del servicio de atención al cliente de Búho y será remitida de forma
    automática la opción para acceder a las mismas. El consumidor deberá especificar en el correo electrónico y la
    ubicación exacta desde la que realiza la solicitud que deberá coincidir con el lugar de realización del servicio, en
    caso de duda, será este último el lugar dónde deberá instarse la reclamación.    
    • Condiciones especiales del servicio de encargo de compra de productos a través de Búho
    El Cliente tiene la opción de solicitar a través de la Plataforma la adquisición presencial por parte del
    Comisionado de una serie de productos y/o servicios que son ofrecidos por establecimientos con los que Búho puede
    mantener o no un acuerdo comercial. El Cliente puede seleccionar mediante un menú desplegable dentro de la
    Plataforma, una serie de opciones donde se puede indicar de forma orientativa las características, el precio, así
    como en ocasiones, hasta una fotografía del producto o servicio.
    En aquellos supuestos en los que el Usuario desee conocer la composición e información nutricional de los productos
    presentes en la Plataforma, éste deberá contactar directamente (mediante contacto facilitado por Búho para mayor
    comodidad) con cada establecimiento para que pueda acceder a la información completa de los productos.
    Una vez el Cliente seleccione una de las opciones, podrá completar además el pedido mediante un espacio de texto
    libre para incorporar información más detallada o instrucciones para el Comisionado que se encargue de llevar a cabo
    dicho pedido.
    A través del espacio libre, el Cliente manifiesta su voluntad de encargar la compra presencial de determinados
    productos, resultando el Comisionado un mero mandatario por cuenta de este. Como consecuencia de ello, sería el
    cliente el único responsable y quién, llegado el caso, asumiría cualquier incidencia derivada de la naturaleza de
    dichos productos (i.e. sanción, responsabilidad civil y/o penal, responsabilidad patrimonial…). A este respecto es
    importante comunicar al Usuario que Búho colabora activamente con las autoridades del país con la finalidad de
    luchar contra el fraude, tráfico de estupefacientes, blanqueo de capitales, terrorismo y suplantación de identidad,
    entre otros. Por lo tanto, el Usuario es conocedor que Búho podrá comunicar los datos de los mismos a las
    autoridades públicas, cuando así lo soliciten, con la finalidad de prevenir y evitar la comisión de estos u otros
    delitos.
    El Cliente es consciente y acepta que las descripciones y, en su caso, los precios o las fotografías de los
    productos y/o servicios ofertados en la Plataforma se realizan en base a la información y documentación
    proporcionada por los Comercios por lo que Búho no puede ofrecer garantías frente a posibles inexactitudes en dichas
    descripciones, precios y/o fotografías.
    Asimismo, el Cliente acepta que todos los productos reflejados en la plataforma de Búho están sujetos a la
    disponibilidad de los mismos y en este sentido asume la posibilidad de que durante la realización del pedido se
    encuentre con la no disponibilidad del producto y/o servicio en el Comercio. Adicionalmente, el precio del producto
    puede variar ligeramente a causa de modificaciones en el punto de venta. Búho se reserva el derecho de proceder con
    la compra ante variaciones en el precio de hasta un 30%, si superar el citado 30% el Comisionado se pondrá en
    contacto con el cliente para transmitirle la situación.
    Búho se reserva el derecho a retirar cualquier producto de su plataforma, así como de modificar el contenido de su
    ficha en cualquier momento, sin que le pueda ser atribuido ningún tipo de responsabilidad.
    10.1 Entregas en el mismo día
    Búho proporciona al Cliente un servicio de entrega de los productos adquiridos presencialmente por el Comisionado en
    determinadas ciudades. El pedido se podrá realizar siempre que se cumplan las siguientes condiciones en el momento
    de pago del pedido:
    • El servicio se encuentre operativo para la franja horaria escogida.
    • La mercancía a entregar debe encontrarse dentro de alguna de las ciudades y dentro del espacio habilitado en las
    que opere Búho.
    • El lugar de destino debe estar situado en la misma ciudad en la que se encuentre el producto.
    • El tamaño del pedido no puede superar las medidas: 40cm x 40cm x 30cm*
    • El peso máximo a cargar en un pedido será, aproximadamente, de 9 Kg*
    *El tamaño y peso mencionados anteriormente no aplicarán para los supuestos de vehículos habilitados para dichos
    volúmenes.

    10.2 Precio y método de pago
    El precio del producto y/o servicio será el indicado por el Comercio a través de la Plataforma. Sin embargo, el
    Cliente es conocedor que en todo caso la valoración económica de algunos de los productos podrá variar en tiempo
    real, debido a las disponibilidades de stock de los establecimientos que se ofertan en la plataforma, y que en todo
    caso el coste final será siempre comunicado al Cliente de forma previa al momento de pago.
    El Cliente tendrá contacto continuo con el Comisionado, que actuará en su nombre en la adquisición de productos y
    servicios, por lo que cualquier cambio o variación será comunicada por el Comisionado de forma previa a la ejecución
    del mandato para la aprobación del Cliente. En caso de querer realizar alguna apreciación sobre el pedido encargado,
    el Cliente tendrá siempre la posibilidad de contactar directamente con el Mandatario que ejecuta el mandato
    otorgado.
    De igual forma, durante la pasarela de pago, el Cliente será informado del precio final del envío y la hora
    aproximada de entrega según las condiciones del servicio de recadería de Búho expresadas más arriba.
    El Cliente podrá realizar el pago de los productos y/o servicios en efectivo o a través de su tarjeta de crédito,
    dándose dicha posibilidad a partir de un monto mínimo fijado de veinte nuevos soles (S/  20.00). La opción de pago
    con tarjeta de crédito podrá no estar disponible en todas las ciudades donde opera Búho. Se informará al Cliente,
    cuando acceda a realizar el pedido, de las diferentes opciones de pago que tenga según la ciudad desde el que
    solicite el servicio. Para el pago con tarjeta, el Cliente deberá facilitar los datos de la mismas a través de la
    plataforma como método de pago asociado a su cuenta. Búho no almacena el número de la tarjeta en sus servidores, y
    sólo podrá visualizar los cuatro últimos dígitos de ésta. La información completa será almacenada en los servidores
    del prestador de servicios de pago que realiza los pagos en nombre de Búho. El pago con tarjeta de crédito no
    supondrá ningún coste extra para el Cliente. Todo ello de acuerdo con los términos de la plataforma de pago
    expuestos en la Cláusula 6.1.
    En caso de pago en efectivo, el cliente deberá abonar el precio en el momento de la entrega del producto y/o
    cumplimiento del recado en el lugar de entrega. El cliente no podrá negarse a abonar el coste del servicio de
    entrega y/o el precio del producto solicitado. El cliente únicamente podrá negarse a abonar el coste del servicio si
    ha realizado una queja y ha recibido de parte de Búho una resolución favorable del mismo al momento de la entrega.
    Cuando el cobro del servicio al cliente no pudiera realizarse por cualquier motivo, la cuenta del usuario quedará
    bloqueada en tanto no se regularice y abone la deuda.
     
                  10.3. Envío de muestras gratuitas a domicilio y otras acciones comerciales
    Búho se reserva el derecho a realizar acuerdos comerciales con Comercios, Grandes Superficies, Empresarios,
    Profesionales (i.e. empresas de gran consumo del sector alimentación, laboratorios, Grandes Almacenes, marcas de
    gran y pequeño consumo…) a los efectos de realizar comunicaciones promocionales, incluyendo el envío de muestras
    gratuitas a domicilio junto al pedido solicitado por el Usuario.
     
    • Condiciones particulares para el servicio “Búho Market”.
    Búho, a través de la Plataforma, pone a disposición de los Usuarios una categoría dónde éstos pueden seleccionar
    entre una gama de productos generalmente presentes, entre otros, en supermercados, grandes almacenes y/o
    establecimientos de cuidado personal para que el Comisionado, que acepte la tramitación del recado, pueda entregarlo
    en la dirección introducida por el usuario.
    El Usuario deberá seleccionar los productos en base a sus preferencias y podrá solicitar, a través de los mecanismos
    previstos en la Plataforma, la información relativa a los alérgenos, intolerancias, composición y/o información
    nutricional de los mismos, que se facilitarán a través del chat de contacto o a través del correo electrónico del
    Usuario registrado en la Plataforma. Asimismo, Búho podrá poner a disposición de los Usuarios que lo soliciten los
    enlaces informativos dónde poder encontrar y revisar dicha información. Para los pedidos de “Búho Market” aplicarán
    las previsiones previstas en el apartado 10.1 anterior.
     
    • Compra de bebidas alcohólicas
    Los Usuarios que realicen un pedido que incluya la adquisición y/o entrega de bebidas alcohólicas a través de la
    plataforma deben ser mayores de edad, habiendo cumplido los 18 años. Al realizar un pedido que incluya bebidas
    alcohólicas, el Usuario confirma que tiene al menos 18 años de edad. Búho se reserva el derecho de negarse a
    permitir el pedido de compra y/o entrega de alcohol a cualquier persona que no pueda probar tener al menos 18 años
    de edad.
    La presente cláusula será de idéntica aplicación a cualquier otro producto y/o servicio análogo reservado a la
    mayoría de edad según legislación vigente y que sea solicitado por un Usuario a través de la Plataforma.
    Asimismo, en los casos y en las ciudades en que se encuentre restringida la venta y/o entrega de bebidas alcohólicas
    en determinada franja horaria, el Usuario es responsable de realizar pedidos en los horarios permitidos según la
    normativa de aplicación. Búho se reserva el derecho a negarse a permitir el pedido de compra y/o entrega de alcohol
    fuera de los horarios permitidos.
     
    • Productos en oficinas de farmacia
    Búho no realiza la venta ni publicidad de medicamentos de uso humano a través de la Plataforma cumpliendo con la
    normativa vigente. Los Comisionados actúan como mandatarios de aquellos Usuarios que solicitan medicamentos de uso
    humano no sujetos a prescripción médica a través de la Plataforma para su recogida.
    Búho garantiza en todo caso a los Usuarios el consejo farmacéutico antes de solicitar sus medicamentos, para ello
    Búho ha habilitado una casilla en SOLICITUD ESPECIAL para que en caso de duda por parte del Usuario consulte al
    farmacéutico que dispensará el producto o productos a través del mismo todo ello con la finalidad que el
    Farmacéutico pueda dispensar el producto adecuado.
    En cualquier caso, Búho no se hace responsable del uso que hagan los Usuarios de los productos solicitados en la
    sección de Farmacia así como tampoco responderá por las cantidades y/o condiciones de los productos que se dispensen
    en las oficinas de farmacia.
    Adicionalmente, la Plataforma podrá ceder a la farmacia que dispense el medicamento solicitado por el Usuario, el
    nombre de usuario y teléfono de éste, a efectos de responderle a las cuestiones planteadas. Dicha cesión estará
    sujeta en todo caso a la autorización expresa e inequívoca del Usuario de acuerdo con la legislación aplicable en
    materia de protección de datos de carácter personal. 
     
    15.Política de materias reservadas en envíos
    Lista de ejemplos no limitativa:
     
     
    Alcohol y Tabaco
    Las entregas de alcohol y tabaco pueden estar limitadas o restringidas en determinadas ciudades donde opera la
    Plataforma.
    Animales y Especies Reguladas
    Las partes de animales, o fluidos; semillas prohibidas, plantas nocivas; plantas u otros organismos regulados
    (incluyendo sus derivados) en peligro de extinción o cuyo comercio es en cualquier caso según lo que prevea la ley.
    Pornografía infantil
    Material pornográfico involucrando a menores o contenido que puede ser percibido como pedofilia erótica.
    Copyright sobre Software y Media
    Copias no autorizadas de libros, música, películas y otros materiales protegidos o por licencia incluyendo copias
    sin atribución apropiada; y copias no autorizadas de software, videojuegos y otros materiales protegidos o con
    licencia, incluyendo OEM u otros productos activando mensajes no solicitados.
    Falsificaciones y productos desautorizados
    Réplicas o imitaciones de diseñadores u otros bienes; objetos de celebridades que normalmente requerirían
    autenticación; autógrafos falsos; divisas; sellos; tiques; u otros bienes no autorizados.
    Dispositivos o herramientas para desbloquear medidas de seguridad
    Módems, chips u otros dispositivos para desmantelar medidas técnicas de protección así como en dispositivos
    digitales, incluyendo para desbloquear iPhones.
    Drogas
    Sustancias controladas, narcóticos, drogas ilegales, y drogas accesorias, incluyendo psicoactivas y  drogas
    vegetales como setas alucinógenas así como material promoviendo su uso; o sustancias legales como plantas y hierbas,
    en una forma que sugiera su ingesta, inhalación, extracción, u otro uso que pueda provocar el mismo uso que un
    componente, droga o sustancia ilegal o que produzca beneficios no probados para la salud.
    Juego y Apuestas
    Billetes de lotería, apuestas, membresías/inscripciones en sitios online de apuestas, y contenido relativo.
    Promoción de casinos físicos permitida.
    Productos de Venta en Oficinas de Farmacia
    Las entregas de productos de farmacia pueden estar limitadas o restringidas en determinados países y/o ciudades
    donde opera la Plataforma.  No está permitido el encargo/envío de medicamentos sujetos a prescripción médica. Los
    medicamentos OTC/de venta libre, productos sanitarios complementarios, así como cualquier otro producto de higiene,
    nutrición o análogo, de venta en farmacia y de uso humano se encuentran sujetos al mandato que el Usuario confiera
    al Mandatario y a lo que estime conveniente el farmacéutico.
    Materiales para hacking y cracking
    Manuales, guías, información o equipamiento que infrinja la ley dañando o facilitando fraudulentamente el acceso a
    software, servidores, sitios web u otra propiedad protegida.
    Cuerpo humano
    Órganos u otras partes del cuerpo; fluidos corporales; células madre; embriones.
    Bienes robados o ilegales
    Materiales, productos o información que promueva bienes ilegales o facilite actos ilegales; bienes sobre los que no
    se tiene la propiedad o no se tiene el derecho a la venta; bienes producidos con violación de los derechos de
    terceros; bienes en violación de restricciones sobre importación, exportación o etiquetado; vehículos a motor
    sujetos a restricciones de transferencia; Usted (Usuario de Búho) es única y completamente responsable de verificar
    que todos los objetos son auténticos y legales.
    Equipamiento de telecomunicaciones ilegal
    Dispositivos que pretenden obtener señal satélite gratis, productos ilegales para modificar teléfonos móviles y
    otros equipamientos.
    Bienes ofensivos
    Bienes, literatura, productos, u otro material que:
    •        Difame alguna persona o grupo de personas basándose en su raza, etnia, origen nacional, religión, sexo, u
    otro factor.
    •        Difame a alguna persona o grupo de personas protegidas según la ley aplicable en supuestos de difamaciones
    (como por ejemplo la familia real en algunas jurisdicciones).
    •        Enaltecimiento o incitación de actos violentos.
    •        Promover intolerancia u odio.
    •        Promover o apoyar membresía en grupos terroristas u otras organizaciones prohibidas por ley.
    •        Contravenir la moralidad pública.
    Bienes ofensivos relacionados con un crimen
    Fotos u objetos de la escena de un crimen, como pertenencias personales, asociadas con criminales o con actos
    criminales.
    Materiales preciosos
    Ventas a granel de piedras o materiales raros, escasos o valiosos.
    Artefactos culturalmente protegidos
    Material cubierto por la Convención de la UNESCO de 1970 sobre Medidas que Deben Adoptarse para Prohibir e Impedir
    la Importación, la Exportación y la Transferencia de Propiedad Ilícitas de Bienes Culturales u otros bienes
    restringidos por ley a su venta, exportación o transferencia; Artefactos, formaciones de cuevas (estalactitas y
    estalagmitas);
    Dispositivos pirotécnicos y sustancias peligrosas que requieran permiso especial
    Artículos pirotécnicos y bienes relacionados en mercados en que su entrega está regulada así como sustancias como la
    gasolina o el propano.
    Dispositivos de tráfico
    Radares, cubiertas de matrícula, cambiadores ilegales de tráfico y productos relacionados.
    Armas
    Armas de fuego, munición, y otros objetos incluyendo pero no limitando a armas de fuego, cuchillos camuflables, o
    indetectables, armas de artes marciales, silenciadores, munición o revistas de munición.
    Divisas y Dinero
    Cambio de divisas o divisas aseguradas con metales preciosos, así como billetes, monedas, o cualquier otro  título
    de valor
    Escuela Primaria y Secundaria/Uso por menores
    Se reserva el derecho a rechazar pedidos de todos aquellos usuarios menores de edad. Adicionalmente, se reserva el
    derecho a rechazar pedidos en cualquier localización a los alrededores de escuelas de primaria o secundaria, así
    como a solicitar acreditación suficiente
    Mal uso de la plataforma/Abuso
    No toleraremos el uso de lenguaje abusivo así como de actitudes abusivas hacia nuestra compañía o hacia los
    profesionales independientes.
     
    • Geolocalización
    Búho podrá recoger, utilizar y compartir datos precisos sobre localizaciones, incluyendo la localización geográfica
    en tiempo real del ordenador o dispositivo móvil del Usuario, siempre que el Usuario lo autorice. Estos datos de
    localización pueden ser recogidos y utilizados por Búho para mostrar a los Usuarios la ubicación del origen de un
    recado y/o la ubicación del origen de destino. En este sentido, los Usuarios consienten expresamente que sus datos
    de geolocalización sean compartidos con otros Usuarios y Proveedores para poder llevar a éxito el recado solicitado
    en cada momento. Los Usuarios podrán optar por desactivar la Geolocalización en sus dispositivos según se detalla en
    la Política de Privacidad de Datos.
    Es responsabilidad del Usuario consignar correctamente las direcciones de recogida y entrega. En este sentido, Búho
    no se responsabiliza de error u omisión en la consignación de las mismas por parte del Usuario.
     
    • Obligaciones del Usuario
    Los Usuarios son completamente responsables del acceso y correcto uso de su perfil y demás contenidos de la
    Plataforma con sujeción a la legalidad vigente del País desde el que hace uso de la Plataforma, así como a los
    principios de buena fe, a la moral, buenas costumbres y orden público. Y específicamente, adquiere el compromiso de
    observar diligentemente las presentes Condiciones Generales de Uso.
    Los Usuarios son responsables de consignar correctamente nombres de usuario y contraseñas individuales, no
    transferibles y lo suficientemente complejas, así como no usar el mismo nombre de usuario y contraseña que en otras
    plataformas, todo ello con la finalidad de proteger su cuenta del uso fraudulento por parte de terceros ajenos a la
    plataforma.
    Los Usuarios se abstendrán de usar su perfil y el resto de contenidos de la Plataforma con fines o efectos ilícitos
    y que sean lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar,
    afectar o deteriorar la Plataforma, sus contenidos y sus servicios. Asimismo, queda prohibido impedir la normal
    utilización o disfrute de la Plataforma a otros Usuarios.
    Búho no podrá ser considerada responsable editorial, y declara expresamente que no se identifica con ninguna de las
    opiniones que puedan emitir los Usuarios de la Plataforma, de cuyas consecuencias se hace enteramente responsable el
    emisor de las mismas.
    Quienes incumplan tales obligaciones responderán de cualquier perjuicio o daño que ocasionen. Búho no responderá de
    ninguna consecuencia, daño o perjuicio que pudiera derivarse de dicho acceso o uso ilícito por parte de terceros.
    En general, los Usuarios se comprometen, a título enunciativo y no taxativo, a:
    • No alterar o modificar, total o parcialmente la Plataforma, eludiendo, desactivando o manipulando de cualquier
    otra las funciones o servicios de la misma;
    • No infringir los derechos de propiedad industrial e intelectual o las normas reguladoras de la protección de datos
    de carácter personal;
    • No usar la Plataforma para injuriar, difamar, intimidar, violar la propia imagen o acosar a otros Usuarios; - No
    acceder a las cuentas de correo electrónico de otros Usuarios;
    • No introducir virus informáticos, archivos defectuosos, o cualquier otro programa informático que pueda provocar
    daños o alteraciones en los contenidos o sistemas de Búho o o terceras personas;
    • No remitir correos electrónicos con carácter masivo y/o repetitivo a una pluralidad de personas, ni enviar
    direcciones de correo electrónico de terceros sin su consentimiento;
    • No realizar acciones publicitarias de bienes o servicios sin el previo consentimiento de Búho.
    Cualquier Usuario podrá reportar a otro Usuario cuando considere que está incumpliendo las presentes Condiciones
    Generales de Uso, asimismo todos los Usuarios pueden informar a Búho de cualquier abuso o vulneración de las
    presentes condiciones, a través del Formulario de Contacto. Búho verificará este reporte, a la mayor brevedad
    posible, y adoptará las medidas que considere oportunas, reservándose el derecho a retirar y/o suspender a cualquier
    Usuario de la Plataforma por el incumplimiento de las presentes Condiciones Generales de Uso. Asimismo Búho se
    reserva el derecho a retirar y/o suspender cualquier mensaje con contenido ilegal u ofensivo, sin necesidad de
    previo aviso o posterior notificación.
     
    • Baja del Usuario
    El Usuario podrá darse de baja de la Plataforma comunicándolo mediante un correo electrónico a través del Formulario
    de Contacto.
     
    • Responsabilidad de Búho
    El Usuario es responsable de contar con los servicios y equipos necesarios para la navegación por Internet y para
    acceder a la Plataforma. En caso de cualquier incidencia o dificultad para acceder a la Plataforma, el Usuario puede
    informarlo a Búho a través de los canales de contacto puestos a disposición del Usuario, que procederá a analizar la
    incidencia y dará indicaciones al Usuario acerca de cómo resolverla en el plazo más breve posible.
    Búho no controla ni es responsable de los contenidos vertidos por los Usuarios a través de la Plataforma, siendo
    estos el único responsable de la adecuación legal de dichos contenidos.
    Búho no responderá en caso de interrupciones del servicio, errores de conexión, falta de disponibilidad o
    deficiencias en el servicio de acceso a Internet, ni por interrupciones de la red de Internet o por cualquier otra
    razón ajena a su control.
    Búho no se hace responsable de los errores de seguridad que se puedan producir ni de los daños que puedan causarse
    al sistema informático del Usuario (hardware y software), a los ficheros o documentos almacenados en el mismo, como
    consecuencia de:
    • La presencia de un virus en el sistema informático o terminal móvil del Usuario que sea utilizado para la conexión
    a los servicios y contenidos de la Plataforma;
    • Un mal funcionamiento del navegador;
    • Del uso de versiones no actualizadas del mismo.
     
    • Responsabilidad por contenidos
    Búho no tiene obligación de controlar y no controla la utilización que los Usuarios hacen de la Plataforma y, por
    consiguiente, no garantiza que los Usuarios utilicen la Plataforma de conformidad con lo establecido en las
    presentes Condiciones Generales de Uso, ni que hagan un uso diligente y/o prudente de la misma. Búho no tiene la
    obligación de verificar y no verifica la identidad de los Usuarios, no la veracidad, vigencia, exhaustividad y/o
    autenticidad de los datos que los mismos proporcionan.
    Búho no verificará los productos que puedan recogerse o enviarse a través de los pedidos realizados a través de la
    Plataforma. Por esta razón, tanto el Usuario como el Mandatario eximen a Búho de cualquier responsabilidad que
    pudiera derivarse de la puesta a disposición y/o transporte de productos que requieran permisos o licencias
    específicos, así como productos prohibidos por cualquier normativa de aplicación, descritos, sin carácter
    limitativo, en la cláusula 15 precedente. En el supuesto que Búho tenga conocimiento que el Usuario y/o el
    Comisionado utilizan la App para el transporte de productos prohibidos, Búho podrá iniciar una investigación interna
    para esclarecer los hechos, interponer las medidas legales necesarias y/o bloquear al Usuario o Comisionado
    correspondiente hasta la finalización de la posible investigación. Entre las medidas a disposición de Búho se
    encuentra el poner a disposición de las autoridades los datos e informaciones de los Usuarios y Mandatarios.
    Búho excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse a la
    utilización ilícita de la Plataforma por parte de los Usuarios o que puedan deberse a la falta de veracidad,
    vigencia, exhaustividad y/o autenticidad de la información que los Usuarios proporcionan a otros Usuarios acerca de
    sí mismos y, en particular, aunque no de forma exclusiva, por los daños y perjuicios de toda naturaleza que puedan
    deberse a la suplantación de la personalidad de un tercero efectuada por un Usuario en cualquier clase de
    comunicación realizada a través de la Plataforma.  En particular, Búho no se hace responsable del uso de la
    aplicación así como de los pedidos que pudiera realizar un tercero desde la cuenta del Usuario.
    Sin perjuicio de lo anterior, Búho se reserva la facultad de limitar, total o parcialmente, el acceso a la
    Plataforma a determinados Usuarios, así como de cancelar, suspender, bloquear o eliminar determinado tipo de
    contenidos, mediante la utilización de instrumentos tecnológicos aptos al efecto, si tuviese conocimiento efectivo
    de que la actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero. En este
    sentido, Búho podrá establecer los filtros necesarios a fin de evitar que a través del servicio puedan verterse en
    la red contenidos ilícitos o nocivos. La puesta a disposición por parte de los Usuarios de contenidos a través de la
    Plataforma supondrá la cesión a favor de Búho de todos los derechos de explotación derivados de los contenidos
    suministrados en la Plataforma.
     
    • Cláusula de "no garantía" en los recados ni en los pagos
    Búho no ofrece ninguna garantía con respecto a la autenticidad, la exactitud, la novedad, la fiabilidad, legalidad o
    no violación de derechos de terceros por parte de los Mandatarios. En este sentido, los Usuarios manifiestan que
    comprenden que Glovo es una plataforma tecnológica, cuya principal actividad es la intermediación, esto es, pone en
    contacto Clientes y Comisionados, por lo que no asume responsabilidad alguna derivada de la información
    proporcionada por los Comisionados ni por los daños o pérdidas que eventualmente pudieran sufrir por un
    incumplimiento de las presentes Condiciones Generales de Uso. Al realizar el pedido a través de la App y su
    aceptación por parte del Comisionado, se establecerá una relación directa entre el Usuario y el Comisionado, siendo
    Búho ajena a la misma, facilitando únicamente la App para que las Partes puedan comunicarse y realizar cuantos
    pedidos sean necesarios. Por ello, Búho no será nunca responsable ni de la disponibilidad de los Comisionados, ni
    del cumplimiento adecuado y satisfactorio de los recados por parte de éstos.
    Búho no realiza confirmación alguna, ni valida ningún Comisionado ni su identidad ni antecedentes. Sin perjuicio de
    lo anterior, Búho puede eventualmente realizar comprobaciones adicionales y poner en marcha procedimientos
    destinados a ayudar a verificar o a comprobar las identidades de los Comisionados. En este sentido, cuando un
    Usuario alcanza el estatus de Comisionado ello simplemente indica que dicho usuario ha completado el proceso de alta
    correspondiente y ha aceptado las presentes Condiciones Generales de Uso y cualquier otra condición particular que
    le resultara aplicable. No implica ni certificación ni aval acerca de su fiabilidad, idoneidad y/o seguridad por
    parte de Búho.
    Por ello, Búho les recomienda a los Clientes que empleen siempre el sentido común y toda su atención a la hora de
    delegar un recado a un determinado Comisionado.
    Al ser miembros de la Plataforma, los Usuarios aceptan que cualquier responsabilidad legal que pretendan ejercitar
    como consecuencia de acciones u omisiones de otros Usuarios de la Plataforma o terceros se limitará a dichos
    Usuarios o terceros, no procediendo acción de responsabilidad alguna contra Búho.
     
    • Actualización y Modificación de la Plataforma
    Búho se reserva el derecho de modificar, en cualquier momento y sin previo aviso las presentes Condiciones Generales
    de Uso, la Política de Privacidad y la Política de Cookies. Los Usuarios deberán leer atentamente estas Condiciones
    Generales al acceder a la Plataforma. En cualquier caso, la aceptación de las Condiciones Generales será un paso
    previo e indispensable al acceso de los servicios y contenidos disponibles a través de la Plataforma de Búho App.
    Asimismo, Búho se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso,
    actualizaciones, modificaciones o eliminación de información contenida en su Plataforma en la configuración y
    presentación de ésta y de las condiciones de acceso, sin asumir responsabilidad alguna por ello. Búho no garantiza
    la inexistencia de interrupciones o errores en el acceso de la Plataforma o a su contenido, ni que ésta se encuentre
    siempre actualizada, no obstante, Búho llevará a cabo, siempre que no concurran causas que lo hagan imposible o de
    difícil ejecución, y tan pronto tenga noticia de los errores, desconexiones o falta de actualización en los
    contenidos, todas aquellas labores tendentes a subsanar los errores, restablecer la comunicación y actualizar los
    contenidos.
     
    • Propiedad Intelectual
    Búho es titular o licenciataria de todos los derechos de propiedad intelectual e industrial incluidos en la
    Plataforma así como sobre los contenidos accesibles a través de la misma. Los derechos de propiedad intelectual de
    la Plataforma, así como: textos, imágenes, diseño gráfico, estructura de navegación, información y contenidos que se
    recogen en ella son titularidad de Búho, a quien corresponde el ejercicio exclusivo de los derechos de explotación
    de los mismos en cualquier forma y, en especial, los derechos de reproducción, distribución, comunicación pública y
    transformación, de conformidad con la legislación peruana de derechos de propiedad intelectual e industrial.
    Aún cuanto descrito anteriormente, Búho podría no ser titular ni licenciatario de contenidos como nombres o
    imágenes, entre otros, de compañías con las cuales Búho no tiene relación comercial. En esos supuestos, Búho
    adquiere los contenidos de fuentes accesibles al público y en ningún caso se entenderá que Búho tenga relación con
    ningún derecho titularidad de Búho.
    La autorización al Usuario para el acceso a la Plataforma no supone renuncia, transmisión, licencia o cesión total
    ni parcial sobre derechos de propiedad intelectual o industrial por parte de Búho. No está permitido suprimir,
    eludir o manipular de ningún modo los contenidos de la Plataforma de Búho. Asimismo está prohibido modificar,
    copiar, reutilizar, explotar, reproducir, comunicar públicamente, hacer segundas o posteriores publicaciones, cargar
    archivos, enviar por correo, transmitir, usar, tratar o distribuir de cualquier forma la totalidad o parte de los
    contenidos incluidos en la Plataforma de Búho para propósitos públicos o comerciales, si no se cuenta con la
    autorización expresa y por escrito de Búho o, en su caso, del titular de los derechos a que corresponda.
    El Usuario que proceda a compartir cualquier tipo de contenido a través de la Plataforma, asegura que ostenta los
    derechos necesarios para hacerlo, quedando exento Búho de cualquier responsabilidad sobre el contenido y legalidad
    de la información ofrecida. La facilitación de contenidos por parte de los Usuarios a través de la Plataforma
    supondrá la cesión a Búho, con carácter gratuito, y con la máxima amplitud permitida por la legislación vigente, de
    los derechos de explotación de propiedad intelectual o industrial derivados de tales contenidos.
     
    • Independencia de las Cláusulas
    Si cualquiera de las cláusulas de las presentes Condiciones Generales fuera nula de pleno derecho o anulable, se
    tendrá por no puesta. Dicha declaración de nulidad no invalidará el resto del Contrato, que mantendrá su vigencia y
    eficacia entre las Partes.
     
    • Legislación Aplicable
    La relación entre Búho y el Usuario, se regirá e interpretará de conformidad con las Condiciones Generales que en
    materia de interpretación, validez y ejecución se regirán por la legislación peruana; y cualquier controversia se
    someterá a los Tribunales correspondientes del País.
     

  </p>
  <br />
  <br />
  <br />

  <div class="ion-text-center">
    <small>Puedes leer todos los detalles aquí</small>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button shape="round" color="tertiary" onclick="window.open('//www.buhoapp.com', '_system'); return false;">
          <strong>www.buhoapp.com</strong>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>