.default-list {
    ion-item {
        margin: 10px 0;
        max-height: 150px;
    }
}

.subcategories-container {
    background: #fff;
    min-height: 100%;
    padding-bottom: 60px;
}

.subcategory {
    height: 120px;
    display: flex;
    border-radius: 10px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;

    &--left {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-shadow: 0px 0px 18px 17px #fff;
        position: relative;
        text-align: center;

        .name {
            width: 100px;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
        }
    }

    &--right {
        width: 100%;

    }
}