<app-header trans="true"></app-header>

<ion-content [fullscreen]="true">
    <div class="subcategories-container">
        <ion-toolbar id="search">
            <ion-searchbar placeholder="Categorías..." search-icon="search-outline" animated (ionChange)="filterItems($event)">
            </ion-searchbar>
        </ion-toolbar>
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let subcategory of filteredSubcategories" (click)="openShops(subcategory.id)">
                <div class="subcategory">
                    <div class="subcategory--left">
                        <div class="name">
                            <ion-text>
                                {{ subcategory.name }}
                            </ion-text>
                        </div>
                    </div>
                    <div class="subcategory--right">
                        <div class="subcategory-image">
                            <ion-img [src]="baseUrl + '/subcategories/' + subcategory.image_url"></ion-img>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>