<!-- <app-header trans="true"></app-header> -->
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="products-container">
        <br>
        <div class="ion-padding-horizontal">
            <ion-text color="dark">
                <h2>Orden nro.&nbsp;{{ order?.id }}</h2>
            </ion-text>
        </div>
        <ion-list class="default-list" lines="none">
            <ion-item>
                <div class="product">
                    <div class="product--left">
                        <ion-button color="secondary" mode="ios">{{order?.state}}</ion-button>
                        <div class="product-image">
                            <ion-img [src]="baseUrl + '/shops/' + shop?.id + '/' + shop?.logo || 'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'"></ion-img>
                        </div>
                    </div>
                    <div class="product--right">
                        <span>{{ shop?.name }}</span>
                        <p>
                            Llega en: {{ order?.estimated_delivery }} min
                            <br> Cantidad de productos: {{ order?.quantity_products }}
                            <br>
                            <span *ngIf="order?.real_delivery_datetime">
                            Entregado: {{ order?.real_delivery_datetime | datetime}}
                        </span> Total: S/ {{ order?.total_receivable }} <br>
                        </p>
                        <div class="price_add">
                            <!-- <ion-text color="primary"><strong>S/ 122.00</strong></ion-text> -->
                            <ion-button size="small" mode="ios">{{ order?.order_datetime | datetime}}</ion-button>
                        </div>



                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-grid>
            <ion-row>
                <ion-col size="1">
                </ion-col>
                <ion-col size="11">
                    <p>Productos</p>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                Cant.
                            </ion-col>
                            <ion-col size="6">
                                Nombre
                            </ion-col>
                            <ion-col size="3">
                                Precio
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let product of products">

                            <ion-col size="3">
                                {{product.quantity}}
                            </ion-col>

                            <ion-col size="6">
                                {{product.name}}
                            </ion-col>

                            <ion-col size="3">
                                {{product.price_unit}}
                            </ion-col>

                        </ion-row>

                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>


        <div class="order" *ngIf="employee; else noEmployee">
            <div class="employee">
                <div class="employee--image">
                    <ion-img src="assets/images/user-placeholder.png"></ion-img>
                </div>
                <h2><small>Asignado:</small> <br>{{employee.user.name}}&nbsp;{{employee.user.last_name}}</h2>
            </div>
            <div class="details">
                <div class="checkout-item">
                    <div>
                        <ion-text>Tiempo de entrega</ion-text>
                    </div>
                    <div>
                        <ion-text>{{ order?.estimated_delivery}}&nbsp;m</ion-text>
                    </div>
                </div>
                <div class="checkout-item">
                    <div>
                        <ion-text>Método de pago</ion-text>
                    </div>
                    <div>
                        <ion-text>Tarjeta</ion-text>
                    </div>
                </div>
                <div class="checkout-item">
                    <div>
                        <ion-text>Total productos</ion-text>
                    </div>
                    <div>
                        <ion-text>S/{{order.product_cost | number:'1.2-2' }}</ion-text>
                    </div>
                </div>
                <div class="checkout-item">
                    <div>
                        <ion-text>Envío</ion-text>
                    </div>
                    <div>
                        <ion-text>S/{{order.cost_shipping | number:'1.2-2' }}</ion-text>
                    </div>
                </div>
                <div class="checkout-item">
                    <div>
                        <ion-text>Total</ion-text>
                    </div>
                    <div>
                        <ion-text>S/{{monto | number:'1.2-2' }}</ion-text>
                    </div>
                </div>
            </div>



        </div>
        <ng-template #noEmployee>
            <div class="ion-padding-horizontal">
                <ion-grid class="ion-margin-top">
                    <ion-label color="primary">Pronto tomarán tu orden, espere...
                    </ion-label>
                </ion-grid>
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </div>

        </ng-template>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>