<app-header [showBack]="true" [bgPurple]="false"></app-header>
<div class="invoicing-header">
  <h5>DATOS DE FACTURACIÓN</h5>
</div>
<ion-content class="ion-padding invoicing">
  <form #form="ngForm">
    <ion-list class="island">
      <ion-item>
        <ion-label position="stacked">TIPO DE FACTURACIÓN</ion-label>
        <ion-select>
          <ion-select-option value="DNI">DNI</ion-select-option>
          <ion-select-option value="RUC">RUC</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">NÚMERO</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">NOMBRE/RAZÓN SOCIAL</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">DIRECCIÓN DE FACTURACIÓN</ion-label>
        <ion-input> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label><small>¿Solicitar factura por tus pagos?</small></ion-label>
        <ion-toggle color="tertiary"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="4">
        <ion-button shape="round" color="tertiary">
          GUARDAR
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
