.products-container {
    background: #fff;
    min-height: 100%;

    ion-searchbar {
        --border-radius: 10px;
    }
}

.default-list {
    ion-item {
        margin: 10px 0;
        max-height: 150px;
    }
}

ion-list {
    padding-bottom: 60px;
}

.product {
    display: flex;
    width: 100%;

    &--left {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-img {
            width: 110px;
            height: 110px;
        }

        .product-image {
            width: 110px;
            height: 110px;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            left: 10px;
            box-shadow: -1px 2px 5px 0px #666;
        }
    }

    &--right {
        width: 100%;
        max-width: 400px;
        height: 150px;
        border: 2px solid var(--ion-color-primary);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;

        .price_add {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        span {
            font-weight: bold;
            max-height: 38px;
            width: 100%;
            display: block;
            height: 38px;
            display: flex;
            align-items: center;
            align-content: center;
        }

        p {
            margin: 5px 0;
            font-size: 12px;
            height: 42px;
        }
    }
}

.cart-cta {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 56px;
    padding: 0 10px;
    background: #fff;

    ion-button {
        width: 100%;
    }
}