<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="products-container">
        <div class="basic-title" *ngIf="items.length>0">
            <h3>Carrito</h3>
        </div>
        <div class="basic-title" *ngIf="items.length==0">
            <h3>Carrito vacío</h3>
        </div>
        <ion-list class="default-list" lines="none">
            <ion-item *ngFor="let item of items; index as i">
                <div class="product">
                    <div class="product--left">
                        <div class="product-image">
                            <!-- <ion-img [src]="baseUrl + product.image_url"></ion-img> -->

                            <ion-img [src]="baseUrl + '/shops/' + item.product.shopId + '/' + item.product.image_url || 'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'"></ion-img>
                            <!-- <ion-img src="https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg"></ion-img> -->
                        </div>
                    </div>
                    <div class="product--right">
                        <span>{{ item.product.name }}</span> {{ item.product.description }}<br> S/ {{ item.product.price_with_percentage }}

                        <!-- <p>S/ {{ item.product.price_with_percentage }}</p> -->
                        <div class="price_add">
                            <div>
                                <ion-button size="small" mode="ios" fill="clear" (click)="remove(item)">Remover</ion-button>
                            </div>
                            <div class="price_add" style="width: 100px;">
                                <ion-button size="small" mode="ios" (click)="less(item)">-</ion-button>
                                {{ item.quantity }}
                                <ion-button size="small" mode="ios" (click)="more(item)">+</ion-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>

        </ion-list>
    </div>
    <div class="cart-cta">
        <ion-button mode="ios" color="primary" expand="block" (click)="openCheckout()" [disabled]="!items.length">
            <!-- <ion-icon name="cart-outline"></ion-icon> -->
            S/ {{total.toFixed(2)}} &nbsp; COMPRAR AHORA
        </ion-button>
    </div>
</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>