<ion-content class="bg-white order-modal">
  <div class="checkout-item">
    <label>Dirección</label>
    <div class="checkout-sub" appAddresses>
      <span class="checkout-sub--label">
        <strong>{{ order?.address?.address }}</strong>
      </span>
    </div>
  </div>
  <div class="checkout-item">
    <label>Método de pago</label>
    <div class="checkout-sub">
      <span class="checkout-sub--label"><strong>Efectivo</strong></span>
    </div>
  </div>

  <div class="checkout-item">
    <div class="checkout-sub">
      <span class="checkout-sub--label"><strong>Tiempo estimado</strong></span>
      <span class="checkout-sub--number">
        {{ order?.estimated_delivery }} min
      </span>
    </div>
  </div>

  <div class="checkout-item">
    <label>Resumen</label>
    <div class="checkout-sub">
      <span class="checkout-sub--label">Total productos</span>
      <span class="checkout-sub--number">S/ {{ order?.product_cost }}</span>
    </div>
    <div class="checkout-sub">
      <span class="checkout-sub--label">Delivery</span>
      <span class="checkout-sub--number">
        S/ {{ order?.cost_shipping }}
      </span>
    </div>

    <div class="total">
      <span class="total--label"><strong>Total</strong></span>
      <span class="total--number"><strong>S/ {{ order?.total_receivable }}</strong></span>
    </div>
  </div>

  <div class="ion-padding">
    <ion-label>
      Productos:
    </ion-label>
    <ion-list lines="full">
      <ion-item *ngFor="let product of order.products">
        <ion-text>{{ product.name }} <small style="color: #999"> x{{ product.quantity }}</small></ion-text>
        <ion-text slot="end">S/ {{ product.price_unit * product.quantity }}</ion-text>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="dismiss()" size="small" color="tertiary" fill="clear">
      Volver
    </ion-button>
  </div>
</ion-content>