.products-filters {
    display: flex;
    justify-content: center;
    font-size: 12px;
    height: 30px;
    padding: 8px 5px;

    .subtitle {
        width: 100%;
        padding-left: 10px;
        color: var(--ion-color-medium) !important;
    }

    .filter {
        width: 127px;
        padding-right: 10px;
        color: var(--ion-color-tertiary);
        text-align: right;

        span {
            position: relative;
        }
    }
}

.checkout-item {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid #eee;

    label {
        color: var(--ion-color-medium);
        font-size: 13px;
        display: block;
    }

    strong {
        color: var(--ion-color-dark);
    }

    .checkout-sub {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        &--label {
            color: var(--ion-color-medium);
            text-align: left;
        }

        &--number {
            color: var(--ion-color-medium);
            text-align: right;
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;

    &--label {
        color: var(--ion-color-medium);
        text-align: left;
    }

    &--number {
        color: var(--ion-color-medium);
        text-align: right;
    }

    strong {
        color: var(--ion-color-dark);
    }
}


ion-content {
    overflow: hidden;
    max-width: 400px;
    max-height: 100%;
    border-radius: 6px;
    box-shadow: 0px 5px 8px #222;
}