<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-start" (click)="dismiss()">
      <ion-icon name="arrow-back" color="tertiary"></ion-icon>
    </ion-buttons>
    <ion-title>
      Nueva dirección
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar clear-icon="close-circle" debounce="800" inputmode="text" type="text"
      placeholder="Busca una dirección o lugar" search-icon="search" (ionChange)="getAutocompleteList($event)"
      (ionClear)="clearAddress()">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list class="ion-padding-end" *ngIf="addresses?.length;">
    <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
      <ion-icon name="locate"></ion-icon>&nbsp;
      <ion-label>{{ address?.address }}</ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="bg-white">
  <div id="map"></div>
</ion-content>
<ion-footer *ngIf="selectedAddress != null">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="locate"></ion-icon>&nbsp;
        <ion-text color="dark">
          <strong>
            {{ address }}
          </strong>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button shape="round" color="primary" expand="full" (click)="saveAddress()"
          [disabled]="selectedAddress == null">
          Guardar
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>