.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url(/assets/imgs/transparent-icons-bg.png) 0 0/100% 76% repeat;
}

.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--container {
        text-align: center;
        color: #fff;
        width: 65%;

        ion-icon {
            font-size: 80px;
        }

        h1 {
            font-weight: bold;
            font-size: 22px;
        }

        p {
            font-size: 12px;
        }
    }
}

.search-button-container {
    background: var(--ion-color-tertiary) !important;
    padding: 5px 35px;

    .location-input {
        background: #fff;
        border-radius: 25px;
        height: 30px;
        border-radius: 35px;
        position: relative;

        // --border-color: var(--ion-color-tertiary) !important;
        ion-icon {
            margin-right: 5px;
            margin-left: 10px;
            font-size: 16px;
            position: absolute;
            top: 6px;
            color: #666 !important;
        }

        input {
            border: none;
            height: 100%;
            outline: none;
            color: var(--ion-color-dark) !important;
            width: 100%;
            padding-left: 30px;
            padding-right: 20px;
            border-radius: 35px;
        }

        input::placeholder {
            font-size: 13px;
        }
    }
}

#map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#map:after {
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px;
    /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none;
    /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

ion-footer {
    background: #fff;
}

ion-list {
    padding: 0;
}