<div class="product-item">
  <div class="product-item--top">
    <ion-img [src]="baseUrl + product.image_url ||
      'https://ekameco.com/wp-content/uploads/2019/03/product-placeholder-300x300.jpg'"></ion-img>
  </div>
  <div class="product-item--bottom">
    <div class="product-item--bottom--title">
      <strong>{{ product.name }}</strong>
      <!-- <span>{{ product.name }}</span> -->
    </div>
    <div class="product-item--bottom--add">
      <div>
        <span>S/{{ product.price_with_percentage }}</span>
      </div>
      <div>
        <button (click)="addProduct(product)">AGREGAR</button>
      </div>
    </div>
  </div>
</div>