.product-item {
    width: 50%;
    height: 280px;
    float: left;
    padding: 5px;
    margin-bottom: 10px;

    &--top {
        height: 170px;
        width: 100%;
        padding: 5px;

        ion-img {
            max-width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &--bottom {
        padding: 5px;

        &--title {
            height: 50px;

            strong {
                font-size: 14px;
                color: #2b2577;
            }

            span {
                font-size: 10px;
                color: var(--ion-color-medium);
                width: 100%;
                display: block;
            }
        }

        &--add {
            height: 20px;
            display: flex;
            margin-top: 7px;

            div {
                width: 50%;
            }

            span {
                color: var(--ion-color-dark);
                font-size: 13px;

            }

            button {
                padding: 4px 7px;
                background: var(--ion-color-primary);
                color: #2b2577;
                border-radius: 4px;
                font-size: 11px;
                font-weight: bold;
            }
        }


    }
}