<app-header trans="true"></app-header>
<ion-content class="user">
    <ion-row>
        <ion-col>
            <div class="basic-title">
                <h3>Mi cuenta</h3>
            </div>
        </ion-col>
        <ion-col class="profile-button">
            <ion-button color="success" mode="ios" shape="round" size="small" (click)="goToProfile()">Editar perfil
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="profile-name">
            <h2>{{user.name}} <br><small>{{ user.last_name }}</small></h2>
        </ion-col>
        <ion-col>
            <p>{{ user.email }}
                <br> {{ user.phone }}</p>
        </ion-col>
    </ion-row>

    <ion-row class="addresses-container">
        <h5><strong>Direcciones de envío</strong>
            <ion-button color="success" mode="ios" shape="round" size="small" (click)="openNewAddressModal()">Nueva dirección
            </ion-button>
        </h5>
        <div class="addresses" *ngIf="addresses.length; else noAddresses">
            <div class="address card" *ngFor="let address of addresses" (click)="openOptions(address)">
                <p>
                    <ion-icon name="location-outline" slot="start"></ion-icon>
                    <strong>{{ address?.address }}</strong>
                </p>
            </div>
        </div>
        <ng-template #noAddresses>
            <div class="addresses">
                <div class="address card card-add" (click)="openNewAddressModal()">
                    <p>
                        <ion-icon name="add-circle-outline" color="medium" size="large"></ion-icon>
                        <ion-text color="medium">Nueva dirección</ion-text>
                    </p>
                </div>
            </div>
        </ng-template>

    </ion-row>

    <!-- <ion-row class="addresses-container">
     <h5><strong>Métodos de pago</strong></h5>
     <div class="addresses">
       <div class="payments card">
         <p>
           4552 **** **** 1234 <br>
           <img src="/assets/images/visa.png" alt="">
         </p>
       </div>
       <div class="payments card">
         <p>
           4552 **** **** 1234 <br>
           <img src="/assets/images/visa.png" alt="">
         </p>
       </div>
       <div class="payments card">
         <p>
           4552 **** **** 1234 <br>
           <img src="/assets/images/visa.png" alt="">
         </p>
       </div>
     </div>
   </ion-row> -->
    <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-img src="assets/images/logo-black.png" class="logo"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-button color="light" shape="round" (click)="closeSession()">Cerrar Sesión</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
<app-footer [modalidad]="modalidad" [cartLength]="cartLength"></app-footer>