.user {}

.profile-button {
    padding-top: 20px;
    text-align: right;
    padding-right: 16px;
}

.profile-name {
    text-align: center;
    h2 {
        font-weight: bold;
        font-size: 1.2em;
        line-height: 20px;
        color: var(--ion-color-primary);
        small {
            color: var(--ion-color-dark);
        }
    }
}

h5 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
}

.card-add {
    display: flex !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px dotted var(--ion-color-medium) !important;
    p {
        display: flex;
        align-items: center;
        font-size: 15px !important;
    }
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 1.5px solid var(--ion-color-primary);
    padding: 10px;
    width: 180px;
    height: 70px;
    margin-right: 10px;
    box-shadow: 0px 2px 3px 1px #ddd
}

.addresses-container {
    padding: 20px 0 20px 20px;
    .addresses {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 80px;
        display: flex;
        &::-webkit-scrollbar {
            display: none;
        }
        .address {
            p {
                font-size: 12px;
                margin: 0;
                word-break: unset;
                white-space: break-spaces;
                width: 180px;
            }
        }
        .payments {
            font-size: 14px;
            font-weight: bold;
            p {
                margin: 5px
            }
        }
    }
}