<ion-header class="ion-no-border" mode="ios" color="light">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar id="search" color="light">
    <ion-searchbar placeholder="Buscar una dirección o lugar..." search-icon="location-outline" animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="map">
  </div>
  <div class="centerMarker"></div>
</ion-content>