<app-header [showBack]="true" [bgPurple]="false"></app-header>
<div class="profile-header">
  <h5>MIS DIRECCIONES</h5>
</div>
<ion-content>
  <ion-list lines="none">
    <ion-item-divider *ngIf="address$ | async">
      <ion-label>
        Dirección actual
      </ion-label>
    </ion-item-divider>
    <ion-item *ngIf="address$ | async as address">
      <ion-icon name="pin" slot="start"></ion-icon>
      <h4><strong>{{ address?.address }}</strong></h4>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        Mis direcciones
      </ion-label>
    </ion-item-divider>
    <ion-item button *ngFor="let address of addresses$ | async " button (click)="openOptions(address)">
      <ion-label>
        {{ address.address }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button shape="round" color="tertiary" expand="full" (click)="openNewAddressModal()">
          Nueva dirección
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>