<app-header trans="true"></app-header>
<ion-content [fullscreen]="true" class="dark-bg">
    <div class="shops-container">
        <div class="basic-title">
            <h4>Favoritos</h4>
        </div>
        <ion-list class="default-list" lines="none" *ngIf="favourites.length; else noFavourites">
            <ion-item *ngFor="let shop of favourites">
                <div class="shop" (click)="openShop(shop)">
                    <div class="shop--left">
                        <div class="shop-image">
                            <!-- <ion-img [src]="baseUrl + shop.logo || 'assets/images/product.jpg'"></ion-img> -->
                            <ion-img [src]="baseUrl + '/shops/' + shop.id + '/' + shop.logo || 'assets/images/product.jpg'"></ion-img>
                        </div>
                    </div>
                    <div class="shop--right">
                        <span>{{ shop.name }}</span>
                        <p>{{ shop.description }}</p>
                        <div class="price_add">
                            <ion-button size="small" mode="ios">Abierto</ion-button>
                        </div>
                        <div class="price_add" *ngIf="shop.opened == false">
                            <ion-button size="small" mode="ios">Cerrado</ion-button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ng-template #noFavourites>
            <ion-text color="medium" class="ion-text-center">
                <h5>No tienes favoritos por el momento</h5>
            </ion-text>
        </ng-template>
    </div>

</ion-content>
<app-footer [modalidad]=1 [cartLength]="cartLength"></app-footer>