/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg-dark {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/bg.png') no-repeat 100% 100% fixed;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/bg.png') no-repeat 100% 100% fixed;
    background-size: auto 100%;
}

ion-content.dark-bg {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/assets/images/back-1.png') repeat;
}

ion-searchbar {
    --border-radius: 15px !important
}

// Utils

.padding-top-30 {
    padding-top: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

// Globals
ion-header {
    ion-icon {
        color: var(--ion-color-primary);
    }
}

.bg-light {
    --background: var(--ion-color-light);
    background: var(--ion-color-light);
}

.bg-white {
    --background: #fff;
    background: #fff;
}

ion-list {
    --background: transparent !important;
    background: transparent !important;
}

.title {
    color: var(--ion-color-primary);
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: 0;
    margin-top: 10px;

    ion-text {
        width: 100%;
        display: block;
    }

    small {
        color: var(--ion-color-dark);
        font-size: 14px;
        font-weight: normal;
    }
}

.basic-title {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-weight: bold;
        margin: 0;
    }

    ion-icon {
        font-size: 20px;
    }
}

.default-label {
    color: var(--ion-color-dark);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.default-input {
    --border-color: transparent !important;
    --highlight-height: 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    --min-height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;

    ion-icon {
        font-size: 12px;
        margin: 0 5px 0 -5px;
    }

    ion-input {
        font-size: 12px;
    }

    &.item-has-focus {
        border: 1px solid var(--ion-color-primary);
    }
}

.default-loading {
    ion-backdrop {
        --backdrop-opacity: 0.9;
    }

    .loading-wrapper {
        background: none;
        border: none;
        box-shadow: none;
    }
}


// HEADER
.address-container {
    border-radius: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    ion-icon {
        color: var(--ion-color-dark);
        font-size: 14px !important;
        margin-right: 5px;
    }

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;
        max-width: 200px;
        font-size: 14px;
        line-height: 11px;
    }
}

.header-address {
    text-align: center;
}

.modal-wrapper {
    background: transparent !important;
}

.support-modal {
    padding: 25vh 30px 20vh 30px;
    background: rgba(0, 0, 0, 0.5);

    .ion-page {
        align-items: center;
    }
}

.ordercomplete-modal {
    background: rgba(0, 0, 0, 0.5);

    .ion-page {
        align-items: center;
    }
}