<app-header></app-header>
<ion-content class="ion-padding">
    <div class="ion-padding-horizontal">
        <ion-text color="dark">
            <h2>Verifica tu número <br><small>En breve te llegará un SMS con el código de verificación.</small></h2>
        </ion-text>
    </div>
    <div class="ion-padding">
        <form [formGroup]="verifyForm" (ngSubmit)="sendVerification()" novalidate>
            <ion-list>
                <ion-item>
                    <ion-input formControlName="verification_code" type="tel" maxlength="6" minlength="6"></ion-input>
                </ion-item>
            </ion-list>
            <div class="ion-row ion-text-center">
                <ion-text color="danger" *ngIf="errorMessage !==''">
                    <small>
            {{ errorMessage }}
          </small>
                </ion-text>
            </div>
            <ion-row class="ion-justify-content-center">
                <ion-button type="submit" shape="round" class="default-btn" [disabled]="verifyForm.invalid">
                    Verificar
                </ion-button>
            </ion-row>
        </form>
        <br>
        <!-- <ion-text>Si no ves el código, toca aquí para volver a enviar.</ion-text> -->
    </div>
</ion-content>