.search-input-component {
    margin-top: 20px;
    padding: 5px 15px;
    background: transparent;

    .search-input {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        height: 30px;
        border-radius: 35px;
        font-size: 13px;

        // --border-color: var(--ion-color-tertiary) !important;
        ion-icon {
            margin-right: 5px;
            margin-left: 10px;
            font-size: 16px;
            position: relative;
            top: 3px;
            color: var(--ion-color-dark) !important;
        }

        input {
            border: none;
            height: 100%;
            outline: none;
            color: var(--ion-color-dark) !important;
            background: transparent;
        }

        input::placeholder {
            color: #001365;
            font-size: 13px;
        }
    }
}

.type-two {
    margin-top: 5px !important;
    margin-bottom: 5px !important;

    .search-input {
        background: #fff !important;
        border: 1px solid #ddd;
    }
}