<div [ngClass]="{ 'search-input-component': true, 'type-two': typeTwo }">
  <div class="search-input">
    <ion-icon name="search" slot="start"></ion-icon>
    <input id="search" type="text" [placeholder]="placeholder" />
  </div>
</div>
