<div class="search-button-container">
  <div class="location-input">
    <ion-icon name="locate" slot="start"></ion-icon>
    <input id="to" type="text" placeholder="Ubicación actual" readonly [(ngModel)]="address" />
  </div>
</div>