.search-button-container {
    background: var(--ion-color-tertiary) !important;
    padding: 5px 35px;

    .location-input {
        background: #fff;
        border-radius: 25px;
        height: 30px;
        border-radius: 35px;
        position: relative;

        // --border-color: var(--ion-color-tertiary) !important;
        ion-icon {
            margin-right: 5px;
            margin-left: 10px;
            font-size: 16px;
            position: absolute;
            top: 6px;
            color: #666 !important;
        }

        input {
            border: none;
            height: 100%;
            outline: none;
            color: var(--ion-color-dark) !important;
            width: 100%;
            padding-left: 30px;
            padding-right: 20px;
            border-radius: 35px;
        }

        input::placeholder {
            font-size: 13px;
        }
    }
}